flows.json
[
    {
        "id": "c53bc0b1cfdd92b9",
        "type": "tab",
        "label": "EXPE UI",
        "disabled": false,
        "info": "Une meilleure utilsation de NodeRed en suivant des Tuto\n\nUn dashboard pour maitriser la mise en page",
        "env": []
    },
    {
        "id": "ab36a2f91b62fae8",
        "type": "tab",
        "label": "Template",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f9450cebd9b8d8c5",
        "type": "tab",
        "label": "BDD",
        "disabled": false,
        "info": "On travaille sur un BDD sqlite\nqui doit être créé et maj par node-red\nqui doit être lisible avec sqlitebrowser par les utilisateurs du groupe shareGroup \nqui doit être positionner dans l'espace de travail commun /opt/node-red-flows",
        "env": []
    },
    {
        "id": "279cd106c27bb38c",
        "type": "tab",
        "label": "mqtt & template",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d8be5e1f9ecfc822",
        "type": "tab",
        "label": "Arduino",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d7b000e00355b06e",
        "type": "tab",
        "label": "Fermentateur light",
        "disabled": false,
        "info": "on assemble des groupes de nodes pour simplifier le Proto",
        "env": []
    },
    {
        "id": "8682ef25eb3579aa",
        "type": "subflow",
        "name": "Count Up Down",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 140,
                "wires": [
                    {
                        "id": "d6e6623d888ea56c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 800,
                "y": 120,
                "wires": [
                    {
                        "id": "65fdd2ed836ba41b",
                        "port": 0
                    }
                ]
            },
            {
                "x": 800,
                "y": 180,
                "wires": [
                    {
                        "id": "65fdd2ed836ba41b",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 800,
            "y": 60,
            "wires": [
                {
                    "id": "65fdd2ed836ba41b",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "143582669c18420f",
        "type": "group",
        "z": "c53bc0b1cfdd92b9",
        "name": "Clock",
        "style": {
            "label": true
        },
        "nodes": [
            "6ea6e0f88371f50f",
            "11c827ee7d4ee251"
        ],
        "x": 454,
        "y": 19,
        "w": 292,
        "h": 82
    },
    {
        "id": "5539f321a8ebe71c",
        "type": "group",
        "z": "c53bc0b1cfdd92b9",
        "name": "Tick Frequence",
        "style": {
            "label": true
        },
        "nodes": [
            "2fa95438cf7ec01a",
            "7a90ef62bcef860e",
            "ea56df877b232f1c",
            "90f3fa6c5c374060"
        ],
        "x": 1084,
        "y": 139,
        "w": 242,
        "h": 142
    },
    {
        "id": "a3fb81230cec032b",
        "type": "group",
        "z": "c53bc0b1cfdd92b9",
        "name": "Compteurs en boucle",
        "style": {
            "label": true
        },
        "nodes": [
            "2f945b92413d8392",
            "54bb00d6bb9f3519",
            "95a5edbafbf794db",
            "9e73610ff0613b18",
            "290616064459a311",
            "e54ec5f0a0d689f2",
            "5f84468c00dcd131",
            "f28c8c33399284ac"
        ],
        "x": 454,
        "y": 139,
        "w": 512,
        "h": 142
    },
    {
        "id": "2f168b12af78bec1",
        "type": "group",
        "z": "c53bc0b1cfdd92b9",
        "name": "Un Deux Trois : Duré de chaque étape en VAR locale",
        "style": {
            "label": true
        },
        "nodes": [
            "153fc215eb17f9bd",
            "3a76474ec246a824",
            "419005925aaeeb43",
            "3542d7dd7a4dad7b",
            "7ce18158c222a149",
            "46a9af3d12c5764b",
            "a0556915910b080f",
            "ca683ba385cb01f9",
            "b323403df2cf7093",
            "905e9831497cb1b8"
        ],
        "env": [
            {
                "name": "t1",
                "value": "10",
                "type": "num"
            },
            {
                "name": "t2",
                "value": "2",
                "type": "num"
            },
            {
                "name": "t3",
                "value": "5",
                "type": "num"
            }
        ],
        "x": 454,
        "y": 319,
        "w": 732,
        "h": 222
    },
    {
        "id": "3b77d6603893c054",
        "type": "group",
        "z": "c53bc0b1cfdd92b9",
        "name": "Minuterie : plusieurs valeurs dispo dans selection",
        "style": {
            "label": true
        },
        "nodes": [
            "37b34068bc8ad632",
            "0c44248e331257c1",
            "5de2be255b2c5964",
            "d55aa3dc1fb00bf5",
            "4b646ee272cbe055",
            "25b1466557ebce78"
        ],
        "x": 454,
        "y": 579,
        "w": 652,
        "h": 142
    },
    {
        "id": "25d161091e4783d3",
        "type": "group",
        "z": "c53bc0b1cfdd92b9",
        "name": "UN Chrono qu'on peut mettre en suspend",
        "style": {
            "label": true
        },
        "nodes": [
            "cd3ad862f91fdf3e",
            "5d143ecd939638ce",
            "5fd3c239cbd7a88f",
            "4f553bc541491401",
            "c3d7793156b912f6",
            "b3948346c86a61b5",
            "986b9ee6a3d341e3",
            "374c440792846301",
            "85c34a61decc4677",
            "41ba3af850cdbb63",
            "c2ee92a38de18f49",
            "47f169f674ded4d1",
            "c064169b008f3b1a",
            "d995d1f04182037e",
            "e95a015ac99eccb4",
            "92e17cabd5c37008",
            "4da45368d3e7c727"
        ],
        "x": 464,
        "y": 739,
        "w": 1002,
        "h": 402
    },
    {
        "id": "8282ca811ab4a572",
        "type": "group",
        "z": "c53bc0b1cfdd92b9",
        "name": "Level : Jauge de niveau",
        "style": {
            "label": true
        },
        "nodes": [
            "9932cf0538c61e89",
            "6056e2eeac376b57",
            "c052478ba51d2da1",
            "60e77f7cbc023685",
            "b820aefa28e46c18",
            "cb822a36231b6af1"
        ],
        "x": 434,
        "y": 1159,
        "w": 1032,
        "h": 122
    },
    {
        "id": "113e9ae2aa1386b9",
        "type": "group",
        "z": "c53bc0b1cfdd92b9",
        "name": "init false",
        "style": {
            "label": true
        },
        "nodes": [
            "c688b7713fabbc27",
            "86b540c6db88487a"
        ],
        "x": 774,
        "y": 19,
        "w": 252,
        "h": 82
    },
    {
        "id": "5dd1105e5844b92e",
        "type": "group",
        "z": "c53bc0b1cfdd92b9",
        "name": "Inc Dec : Compteur Up Down",
        "style": {
            "label": true
        },
        "nodes": [
            "5e79b81db35e4713",
            "8234295d73887924",
            "e9ba5aaca0ac5efd",
            "ac204aed8cd79bd2",
            "a97bb670af7f924a",
            "eeb048be86ab6a8c",
            "9084438e6c378eae",
            "6ceaaf16d3460913"
        ],
        "x": 434,
        "y": 1339,
        "w": 952,
        "h": 222
    },
    {
        "id": "bdf852c716bcd0df",
        "type": "group",
        "z": "c53bc0b1cfdd92b9",
        "name": "ON / OFF",
        "style": {
            "label": true
        },
        "nodes": [
            "118ad5f41db3f2c9",
            "cca8231fd07f0359",
            "e85ad666d6b2ac30",
            "612f7155715dfb7f",
            "b1af727b9aca7f77",
            "e260783e59486f55",
            "dc21d0cd7ad3591a"
        ],
        "x": 434,
        "y": 1599,
        "w": 782,
        "h": 222
    },
    {
        "id": "e6082ad88626fd76",
        "type": "group",
        "z": "c53bc0b1cfdd92b9",
        "name": "Sequence : Vider pause Remplir",
        "style": {
            "label": true
        },
        "nodes": [
            "35557453177b7245",
            "930350a355fd9eda",
            "0d7f9d3aaf068ebb",
            "e51ce676f72f672e",
            "cffa34d1f699ebc6",
            "dd32ba2fc04994d7",
            "ed9688604cc13e3b",
            "393c20e26d765fa4",
            "ab9c7d57eafbc245",
            "de842a7df0e902c2",
            "3f15fee1048c0a9d",
            "3f1ebaadcc5cd611",
            "0bce2d42829d08b0",
            "c3a498046bbb7eb0",
            "f8fc1dd9c6c63af1",
            "5fc16aa5df0858d6",
            "59fef4368249aff4",
            "cf37fddac12abc74",
            "92b8ed496e6c7b31",
            "7fd920576a1d2567",
            "4e774dcc3695e782",
            "de1a5109d349f9f7",
            "9480c4086271a5a9",
            "cb419fc3140a0cd3",
            "a5de49f957bf1557",
            "22258a666b16438a",
            "afae565b579e4995",
            "e186ed2e96cb7da9",
            "99685bcd0ae906ee",
            "dac4a3df5bc11844",
            "acc9d35d405728f4",
            "59185f098c7d2b93",
            "5177f1699dca4ad7",
            "256d6c5ed7e5fe5f",
            "62a7baa91df850e3",
            "6c5afa767ad7188a",
            "e7d6ff184311f50b",
            "99a7b70404ce4f9a",
            "e76eec8550c13709"
        ],
        "x": 424,
        "y": 1839,
        "w": 1262,
        "h": 582
    },
    {
        "id": "0c9fd96223731221",
        "type": "group",
        "z": "f9450cebd9b8d8c5",
        "name": "Création BDD et Tables",
        "style": {
            "label": true
        },
        "nodes": [
            "59a3c33b9c5696cb",
            "2d1b2cb4a2cae480",
            "bb7a460cce982c0e",
            "17d7bfc4812db66a",
            "1e87fbcc53e26614",
            "5f9b4cd1dc62cac1",
            "8636e8a46dcbb180"
        ],
        "x": 314,
        "y": 79,
        "w": 552,
        "h": 182
    },
    {
        "id": "7762aa2310673208",
        "type": "group",
        "z": "f9450cebd9b8d8c5",
        "name": "Interroger / maj la BDD",
        "style": {
            "label": true
        },
        "nodes": [
            "279061d501572b56",
            "80b37adc53b47efa",
            "1cfa89574bbecbbc",
            "65bf7728a2d5d77d",
            "31a1cbf2fa3d0605",
            "e5489a29b606346e",
            "86efbb344989df43",
            "e1af9248bd3adb0c",
            "07647ecc5b178021",
            "d44c48998b73e8b0",
            "75daf828f9ac0ebb",
            "50e3b3146ea07590",
            "7b7f3c331cc2c9f2",
            "3540971635b3ae80",
            "922f89199eb97a59",
            "a4ad6841398a7452",
            "387fa88b0a54797d"
        ],
        "x": 314,
        "y": 299,
        "w": 872,
        "h": 362
    },
    {
        "id": "811a2d9f40c309b4",
        "type": "group",
        "z": "f9450cebd9b8d8c5",
        "name": "Effacer les données de la table enregistrement",
        "style": {
            "label": true
        },
        "nodes": [
            "149063dab3285ec0",
            "acc1eb7be86ccdea",
            "4a46ffd5cf86c9b9",
            "a2ede53d23306931",
            "762f1732fcd69c53",
            "dff16aeabd8d787c",
            "b18d0e15b4be9740"
        ],
        "x": 314,
        "y": 699,
        "w": 872,
        "h": 202
    },
    {
        "id": "1d42c5d5c534c807",
        "type": "group",
        "z": "ab36a2f91b62fae8",
        "name": "Mustache template",
        "style": {
            "label": true
        },
        "nodes": [
            "809cc8f4678767b7",
            "b86d2d558eebbd7e",
            "aaecc81a2de233d6",
            "6b5a6a2ef7a64f1a",
            "273ee743f8d1a5f1",
            "af43cea5866e11f5",
            "52e8913233f379eb",
            "1d94053c790791ee",
            "a245b322ade3a7e9",
            "3e4b2d3644845f91"
        ],
        "x": 114,
        "y": 119,
        "w": 1132,
        "h": 222
    },
    {
        "id": "0454a2fe3a4d794a",
        "type": "group",
        "z": "279cd106c27bb38c",
        "name": "Ui template",
        "style": {
            "label": true
        },
        "nodes": [
            "655dc6a8c80b5f66",
            "b9b1c3454bad8d3b",
            "73f0f036b30ba302",
            "62920ae2b5ed81e5",
            "c1afc984c34f7427",
            "cdb9462078ca6f66"
        ],
        "x": 354,
        "y": 499,
        "w": 772,
        "h": 122
    },
    {
        "id": "4b3fdf3a1baa1fc4",
        "type": "group",
        "z": "f9450cebd9b8d8c5",
        "name": "battery.db",
        "style": {
            "label": true
        },
        "nodes": [
            "991de9aae43f4619",
            "f4c9bccc038838c5",
            "74e952c4d22f09d8",
            "1d9eb68ac8bdd70e",
            "4359be9bd82cb736"
        ],
        "x": 1054,
        "y": 99,
        "w": 492,
        "h": 162
    },
    {
        "id": "7d477dfc29cb6057",
        "type": "group",
        "z": "f9450cebd9b8d8c5",
        "name": "Luminosité en Mémoire",
        "style": {
            "label": true
        },
        "nodes": [
            "4b03bf58b5bf0377",
            "d4544782d4dd789a",
            "a71b051ffbff40b4",
            "880829181ca42434",
            "ed248ab971ff03e3",
            "d63ad38d653f7b31"
        ],
        "x": 1214,
        "y": 319,
        "w": 552,
        "h": 222
    },
    {
        "id": "df07a1238a55e5b5",
        "type": "group",
        "z": "c53bc0b1cfdd92b9",
        "name": "Flux on/off",
        "style": {
            "label": true
        },
        "nodes": [
            "32a156f6ac960295",
            "669f5011d11ebf87",
            "bad1e7f31a4c7073",
            "c3e90e90b2cf3c5e",
            "a5761a8a511d07c7",
            "5791e7cfabd1e582",
            "3ce73b93a2a5710d",
            "bb1c1847054d7efc",
            "645f0d54aad96fec",
            "9a7c234b1febe5d1",
            "6e7ed4af27ee2dd1",
            "3f5ee88e5de9007e",
            "3ae6e088584e08b7",
            "1bd795182f2fe0e4"
        ],
        "x": 1314,
        "y": 1579,
        "w": 942,
        "h": 242,
        "info": "Laisse passer les messages si le topic est true\nle topic prend la valeur du switch.\nle switch retourne un msg true|false et un topic sw\nla fonction capte les messages dont le topic == sw\net positionne dans le message d'entrée le topic à la valeur du switch"
    },
    {
        "id": "72f493835088c713",
        "type": "group",
        "z": "d7b000e00355b06e",
        "name": "Flux on/off",
        "style": {
            "label": true
        },
        "nodes": [
            "16bed4cf4c70b80f",
            "6739792d7c1c5d34",
            "a92069de472750bf",
            "ab9b6e8d5f4b3b15",
            "912619cbe5c8c299"
        ],
        "x": 194,
        "y": 499,
        "w": 692,
        "h": 182,
        "info": "Laisse passer les messages si le topic est true\nle topic prend la valeur du switch.\nle switch retourne un msg true|false et un topic sw\nla fonction capte les messages dont le topic == sw\net positionne dans le message d'entrée le topic à la valeur du switch"
    },
    {
        "id": "6c5afa767ad7188a",
        "type": "junction",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "x": 840,
        "y": 1880,
        "wires": [
            [
                "e7d6ff184311f50b",
                "99a7b70404ce4f9a",
                "e76eec8550c13709"
            ]
        ]
    },
    {
        "id": "62920ae2b5ed81e5",
        "type": "junction",
        "z": "279cd106c27bb38c",
        "g": "0454a2fe3a4d794a",
        "x": 740,
        "y": 540,
        "wires": [
            [
                "c1afc984c34f7427",
                "655dc6a8c80b5f66"
            ]
        ]
    },
    {
        "id": "ff4bd1c90924330a",
        "type": "junction",
        "z": "d7b000e00355b06e",
        "x": 710,
        "y": 360,
        "wires": [
            [
                "b21009d5808562f8",
                "957911d4cb0971ed",
                "faad0ad57053e204"
            ]
        ]
    },
    {
        "id": "3c225b7898348072",
        "type": "ui-base",
        "name": "Dashboard Expe",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "icon",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "ef720b36dd8dde7b",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "30c2e620df0674de",
        "type": "ui-page",
        "name": "Expérimentation",
        "ui": "3c225b7898348072",
        "path": "/expe",
        "icon": "home",
        "layout": "tabs",
        "theme": "ef720b36dd8dde7b",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "2"
            }
        ],
        "order": 2,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "69467c4f814a564a",
        "type": "ui-group",
        "name": "Tick",
        "page": "30c2e620df0674de",
        "width": "3",
        "height": 1,
        "order": 4,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "true",
        "groupType": "default"
    },
    {
        "id": "7c2219fc05a32978",
        "type": "ui-group",
        "name": "Compteur en boucle",
        "page": "30c2e620df0674de",
        "width": "3",
        "height": 1,
        "order": 6,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c50c22fe0ff9d805",
        "type": "ui-group",
        "name": "Minuterie",
        "page": "30c2e620df0674de",
        "width": "6",
        "height": "2",
        "order": 5,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "fac36d98b944e7e0",
        "type": "ui-page",
        "name": "Config",
        "ui": "3c225b7898348072",
        "path": "/settings",
        "icon": "engine",
        "layout": "tabs",
        "theme": "ef720b36dd8dde7b",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0972f31f7195d7ff",
        "type": "ui-group",
        "name": "Sequence",
        "page": "fac36d98b944e7e0",
        "width": "6",
        "height": "4",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "true",
        "groupType": "default"
    },
    {
        "id": "08d202d8d9c960d1",
        "type": "ui-group",
        "name": "Chrono",
        "page": "30c2e620df0674de",
        "width": 6,
        "height": 1,
        "order": 7,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a2e603f3b7f50a2d",
        "type": "ui-group",
        "name": "Level",
        "page": "30c2e620df0674de",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2c775e571e7385a3",
        "type": "ui-group",
        "name": "incdec",
        "page": "30c2e620df0674de",
        "width": "3",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "14492619691773e2",
        "type": "ui-group",
        "name": "on off",
        "page": "30c2e620df0674de",
        "width": "4",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6c778c0463342ca5",
        "type": "ui-group",
        "name": "Un Deux Trois",
        "page": "fac36d98b944e7e0",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1b5a85af6a786ae1",
        "type": "ui-spacer",
        "group": "0972f31f7195d7ff",
        "name": "spacer",
        "tooltip": "",
        "order": 4,
        "width": "2",
        "height": 1,
        "className": ""
    },
    {
        "id": "43d9ae6d789c2ff1",
        "type": "sqlitedb",
        "db": "/opt/node-red-flows/fermentator.db",
        "mode": "RWC"
    },
    {
        "id": "c553a1617e500f30",
        "type": "ui-group",
        "name": "Tableaux",
        "page": "fac36d98b944e7e0",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "84dbf471304974de",
        "type": "mqtt-broker",
        "name": "screen",
        "broker": "screen.home",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b8105c76f9328173",
        "type": "ui-group",
        "name": "Graph",
        "page": "fac36d98b944e7e0",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8683c29a9a878c47",
        "type": "arduino-board",
        "device": "/dev/ttyACM0",
        "name": "FirmataDuinoLeur",
        "samplingInt": "500",
        "log2consol": false
    },
    {
        "id": "70e65dde8740e563",
        "type": "ui-group",
        "name": "Template Advance",
        "page": "fac36d98b944e7e0",
        "width": 6,
        "height": 1,
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "3fe5fb7649532109",
        "type": "sqlitedb",
        "db": "/opt/node-red-flows/battery.db",
        "mode": "RWC"
    },
    {
        "id": "f9bcd7b2b2faa3f8",
        "type": "ui-spacer",
        "group": "70e65dde8740e563",
        "name": "spacer",
        "tooltip": "",
        "order": 3,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "123b1dc80c4a3b60",
        "type": "sqlitedb",
        "db": ":memory:",
        "mode": "RWC"
    },
    {
        "id": "b0ac91756170664c",
        "type": "ui-page",
        "name": "Fermenteur",
        "ui": "3c225b7898348072",
        "path": "/fermenteur",
        "icon": "home",
        "layout": "grid",
        "theme": "ef720b36dd8dde7b",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "af7a2f9471407871",
        "type": "ui-group",
        "name": "Live",
        "page": "b0ac91756170664c",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "704bf5aca9bca882",
        "type": "ui-spacer",
        "group": "af7a2f9471407871",
        "name": "spacer",
        "tooltip": "",
        "order": 7,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "d6e6623d888ea56c",
        "type": "function",
        "z": "8682ef25eb3579aa",
        "name": "set inc / dec",
        "func": "if (msg.topic == \"up\") {\n    context.set(\"inc\",msg.payload);\n    msg.topic=msg.payload;\n} \nmsg.topic=context.get(\"inc\") || false\nnode.status({fill:\"red\",shape:\"ring\",text:\"INC : \" + context.get(\"inc\")});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 140,
        "wires": [
            [
                "af6202fbf7e30c62"
            ]
        ]
    },
    {
        "id": "af6202fbf7e30c62",
        "type": "switch",
        "z": "8682ef25eb3579aa",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 335,
        "y": 140,
        "wires": [
            [
                "86cb7d242d3824a4"
            ],
            [
                "856c385c8a5648e4"
            ]
        ],
        "l": false
    },
    {
        "id": "86cb7d242d3824a4",
        "type": "change",
        "z": "8682ef25eb3579aa",
        "name": "inc",
        "rules": [
            {
                "t": "set",
                "p": "increment",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 80,
        "wires": [
            [
                "65fdd2ed836ba41b"
            ]
        ]
    },
    {
        "id": "856c385c8a5648e4",
        "type": "change",
        "z": "8682ef25eb3579aa",
        "name": "dec",
        "rules": [
            {
                "t": "set",
                "p": "decrement",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 200,
        "wires": [
            [
                "65fdd2ed836ba41b"
            ]
        ]
    },
    {
        "id": "65fdd2ed836ba41b",
        "type": "counter",
        "z": "8682ef25eb3579aa",
        "name": "UP/DOWN",
        "init": "0",
        "step": "1",
        "lower": "0",
        "upper": "100",
        "mode": "increment",
        "outputs": 2,
        "x": 650,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6ea6e0f88371f50f",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "g": "143582669c18420f",
        "name": "Horloge",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 560,
        "y": 60,
        "wires": [
            [
                "11c827ee7d4ee251"
            ]
        ]
    },
    {
        "id": "11c827ee7d4ee251",
        "type": "link out",
        "z": "c53bc0b1cfdd92b9",
        "g": "143582669c18420f",
        "name": "clock",
        "mode": "link",
        "links": [
            "54bb00d6bb9f3519",
            "7a90ef62bcef860e",
            "5e79b81db35e4713",
            "60e77f7cbc023685",
            "32a156f6ac960295",
            "fc57fc76feabf8a0"
        ],
        "x": 705,
        "y": 60,
        "wires": []
    },
    {
        "id": "2fa95438cf7ec01a",
        "type": "ui-led",
        "z": "c53bc0b1cfdd92b9",
        "g": "5539f321a8ebe71c",
        "name": "Tick",
        "group": "69467c4f814a564a",
        "order": 1,
        "width": "2",
        "height": "1",
        "label": "tick",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 1285,
        "y": 240,
        "wires": [],
        "l": false
    },
    {
        "id": "7a90ef62bcef860e",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "5539f321a8ebe71c",
        "name": "link in 1",
        "links": [
            "11c827ee7d4ee251"
        ],
        "x": 1125,
        "y": 240,
        "wires": [
            [
                "ea56df877b232f1c"
            ]
        ]
    },
    {
        "id": "ea56df877b232f1c",
        "type": "trigger",
        "z": "c53bc0b1cfdd92b9",
        "g": "5539f321a8ebe71c",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1205,
        "y": 240,
        "wires": [
            [
                "2fa95438cf7ec01a",
                "90f3fa6c5c374060"
            ]
        ],
        "l": false
    },
    {
        "id": "2f945b92413d8392",
        "type": "cyclic counter",
        "z": "c53bc0b1cfdd92b9",
        "g": "a3fb81230cec032b",
        "name": "cyclic counter",
        "maxCount": "60",
        "timeoutDuration": "5",
        "timeoutUnit": "s",
        "outputProperty": "payload",
        "x": 555,
        "y": 200,
        "wires": [
            [
                "9e73610ff0613b18",
                "95a5edbafbf794db"
            ]
        ],
        "l": false
    },
    {
        "id": "54bb00d6bb9f3519",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "a3fb81230cec032b",
        "name": "link in 2",
        "links": [
            "11c827ee7d4ee251"
        ],
        "x": 495,
        "y": 200,
        "wires": [
            [
                "2f945b92413d8392"
            ]
        ]
    },
    {
        "id": "95a5edbafbf794db",
        "type": "ui-text",
        "z": "c53bc0b1cfdd92b9",
        "g": "a3fb81230cec032b",
        "group": "7c2219fc05a32978",
        "order": 3,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "sec",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 650,
        "y": 240,
        "wires": []
    },
    {
        "id": "9e73610ff0613b18",
        "type": "switch",
        "z": "c53bc0b1cfdd92b9",
        "g": "a3fb81230cec032b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 200,
        "wires": [
            [
                "290616064459a311",
                "5f84468c00dcd131"
            ],
            []
        ]
    },
    {
        "id": "290616064459a311",
        "type": "cyclic counter",
        "z": "c53bc0b1cfdd92b9",
        "g": "a3fb81230cec032b",
        "name": "cyclic counter",
        "maxCount": 3,
        "timeoutDuration": 0,
        "timeoutUnit": "ms",
        "outputProperty": "payload",
        "x": 795,
        "y": 180,
        "wires": [
            [
                "e54ec5f0a0d689f2"
            ]
        ],
        "l": false
    },
    {
        "id": "e54ec5f0a0d689f2",
        "type": "ui-text",
        "z": "c53bc0b1cfdd92b9",
        "g": "a3fb81230cec032b",
        "group": "7c2219fc05a32978",
        "order": 2,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "min",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "5f84468c00dcd131",
        "type": "trigger",
        "z": "c53bc0b1cfdd92b9",
        "g": "a3fb81230cec032b",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 795,
        "y": 240,
        "wires": [
            [
                "f28c8c33399284ac"
            ]
        ],
        "l": false
    },
    {
        "id": "f28c8c33399284ac",
        "type": "ui-led",
        "z": "c53bc0b1cfdd92b9",
        "g": "a3fb81230cec032b",
        "name": "",
        "group": "7c2219fc05a32978",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 845,
        "y": 240,
        "wires": [],
        "l": false
    },
    {
        "id": "153fc215eb17f9bd",
        "type": "ui-led",
        "z": "c53bc0b1cfdd92b9",
        "g": "2f168b12af78bec1",
        "name": "Premier",
        "group": "6c778c0463342ca5",
        "order": 2,
        "width": "2",
        "height": "1",
        "label": "${t1}",
        "labelPlacement": "right",
        "labelAlignment": "flex-start",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 1100,
        "y": 380,
        "wires": []
    },
    {
        "id": "3a76474ec246a824",
        "type": "trigger",
        "z": "c53bc0b1cfdd92b9",
        "g": "2f168b12af78bec1",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "${t1}",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 720,
        "y": 380,
        "wires": [
            [
                "153fc215eb17f9bd"
            ],
            [
                "7ce18158c222a149",
                "153fc215eb17f9bd"
            ]
        ]
    },
    {
        "id": "419005925aaeeb43",
        "type": "ui-led",
        "z": "c53bc0b1cfdd92b9",
        "g": "2f168b12af78bec1",
        "name": "Deuxieme",
        "group": "6c778c0463342ca5",
        "order": 3,
        "width": "2",
        "height": "1",
        "label": "${t2}",
        "labelPlacement": "right",
        "labelAlignment": "flex-start",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 1040,
        "y": 440,
        "wires": []
    },
    {
        "id": "3542d7dd7a4dad7b",
        "type": "ui-led",
        "z": "c53bc0b1cfdd92b9",
        "g": "2f168b12af78bec1",
        "name": "Troisieme",
        "group": "6c778c0463342ca5",
        "order": 4,
        "width": "2",
        "height": "1",
        "label": "${t3}",
        "labelPlacement": "right",
        "labelAlignment": "flex-start",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 1040,
        "y": 500,
        "wires": []
    },
    {
        "id": "7ce18158c222a149",
        "type": "trigger",
        "z": "c53bc0b1cfdd92b9",
        "g": "2f168b12af78bec1",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "${t2}",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 740,
        "y": 440,
        "wires": [
            [
                "419005925aaeeb43"
            ],
            [
                "46a9af3d12c5764b",
                "419005925aaeeb43"
            ]
        ]
    },
    {
        "id": "46a9af3d12c5764b",
        "type": "trigger",
        "z": "c53bc0b1cfdd92b9",
        "g": "2f168b12af78bec1",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "${t3}",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 760,
        "y": 500,
        "wires": [
            [
                "3542d7dd7a4dad7b"
            ],
            [
                "3542d7dd7a4dad7b"
            ]
        ]
    },
    {
        "id": "c688b7713fabbc27",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "g": "113e9ae2aa1386b9",
        "name": "Init false",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 880,
        "y": 60,
        "wires": [
            [
                "86b540c6db88487a"
            ]
        ]
    },
    {
        "id": "a0556915910b080f",
        "type": "ui-button",
        "z": "c53bc0b1cfdd92b9",
        "g": "2f168b12af78bec1",
        "group": "6c778c0463342ca5",
        "name": "",
        "label": "button",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 530,
        "y": 380,
        "wires": [
            [
                "3a76474ec246a824"
            ]
        ]
    },
    {
        "id": "86b540c6db88487a",
        "type": "link out",
        "z": "c53bc0b1cfdd92b9",
        "g": "113e9ae2aa1386b9",
        "name": "init false",
        "mode": "link",
        "links": [
            "905e9831497cb1b8",
            "a97bb670af7f924a",
            "b323403df2cf7093",
            "ca683ba385cb01f9",
            "e95a015ac99eccb4",
            "dc21d0cd7ad3591a",
            "5177f1699dca4ad7",
            "256d6c5ed7e5fe5f",
            "92e17cabd5c37008",
            "25b1466557ebce78",
            "5791e7cfabd1e582",
            "3ae6e088584e08b7",
            "4fdb80be18cebb4f",
            "2ccd0bfee18435bb"
        ],
        "x": 985,
        "y": 60,
        "wires": []
    },
    {
        "id": "ca683ba385cb01f9",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "2f168b12af78bec1",
        "name": "link in 3",
        "links": [
            "86b540c6db88487a"
        ],
        "x": 935,
        "y": 360,
        "wires": [
            [
                "153fc215eb17f9bd"
            ]
        ]
    },
    {
        "id": "b323403df2cf7093",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "2f168b12af78bec1",
        "name": "link in 4",
        "links": [
            "86b540c6db88487a"
        ],
        "x": 935,
        "y": 420,
        "wires": [
            [
                "419005925aaeeb43"
            ]
        ]
    },
    {
        "id": "905e9831497cb1b8",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "2f168b12af78bec1",
        "name": "link in 5",
        "links": [
            "86b540c6db88487a"
        ],
        "x": 945,
        "y": 480,
        "wires": [
            [
                "3542d7dd7a4dad7b"
            ]
        ]
    },
    {
        "id": "37b34068bc8ad632",
        "type": "countdown",
        "z": "c53bc0b1cfdd92b9",
        "g": "3b77d6603893c054",
        "name": "Minuterie",
        "topic": "Vidange",
        "payloadTimerStart": "true",
        "payloadTimerStartType": "bool",
        "payloadTimerStop": "false",
        "payloadTimerStopType": "bool",
        "timer": "10",
        "resetWhileRunning": false,
        "outputOnReset": true,
        "setTimeToNewWhileRunning": false,
        "startCountdownOnControlMessage": true,
        "x": 800,
        "y": 660,
        "wires": [
            [
                "0c44248e331257c1"
            ],
            [
                "5de2be255b2c5964"
            ]
        ]
    },
    {
        "id": "0c44248e331257c1",
        "type": "ui-led",
        "z": "c53bc0b1cfdd92b9",
        "g": "3b77d6603893c054",
        "name": "",
        "group": "c50c22fe0ff9d805",
        "order": 4,
        "width": "3",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 995,
        "y": 640,
        "wires": [],
        "l": false
    },
    {
        "id": "5de2be255b2c5964",
        "type": "ui-text",
        "z": "c53bc0b1cfdd92b9",
        "g": "3b77d6603893c054",
        "group": "c50c22fe0ff9d805",
        "order": 3,
        "width": "3",
        "height": "1",
        "name": "Reste",
        "label": "Temps restant",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1030,
        "y": 680,
        "wires": []
    },
    {
        "id": "d55aa3dc1fb00bf5",
        "type": "ui-button",
        "z": "c53bc0b1cfdd92b9",
        "g": "3b77d6603893c054",
        "group": "c50c22fe0ff9d805",
        "name": "Stop",
        "label": "Stop",
        "order": 2,
        "width": "3",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "false",
        "payloadType": "bool",
        "topic": "stop",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 570,
        "y": 620,
        "wires": [
            [
                "37b34068bc8ad632"
            ]
        ]
    },
    {
        "id": "4b646ee272cbe055",
        "type": "ui-dropdown",
        "z": "c53bc0b1cfdd92b9",
        "g": "3b77d6603893c054",
        "group": "c50c22fe0ff9d805",
        "name": "",
        "label": "Durée de la minuterie",
        "tooltip": "",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "chips": true,
        "clearable": true,
        "options": [
            {
                "label": "60",
                "value": "60",
                "type": "str"
            },
            {
                "label": "30",
                "value": "30",
                "type": "str"
            },
            {
                "label": "10",
                "value": "10",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "control",
        "topicType": "str",
        "className": "",
        "typeIsComboBox": false,
        "msgTrigger": "onChange",
        "x": 580,
        "y": 680,
        "wires": [
            [
                "37b34068bc8ad632"
            ]
        ]
    },
    {
        "id": "cd3ad862f91fdf3e",
        "type": "hourglass",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "Chronometre",
        "persistId": "",
        "humanizeLocale": "fr",
        "x": 1010,
        "y": 780,
        "wires": [
            [
                "41ba3af850cdbb63",
                "d995d1f04182037e",
                "4da45368d3e7c727",
                "9f9fdcb47f004f2d"
            ]
        ]
    },
    {
        "id": "5d143ecd939638ce",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "start",
        "props": [
            {
                "p": "command",
                "v": "start",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 570,
        "y": 780,
        "wires": [
            [
                "cd3ad862f91fdf3e"
            ]
        ]
    },
    {
        "id": "5fd3c239cbd7a88f",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "stop",
        "props": [
            {
                "p": "command",
                "v": "stop",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 570,
        "y": 820,
        "wires": [
            [
                "cd3ad862f91fdf3e"
            ]
        ]
    },
    {
        "id": "4f553bc541491401",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "status",
        "props": [
            {
                "p": "command",
                "v": "status",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 570,
        "y": 860,
        "wires": [
            [
                "cd3ad862f91fdf3e"
            ]
        ]
    },
    {
        "id": "c3d7793156b912f6",
        "type": "ui-text",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "group": "08d202d8d9c960d1",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "Durée Chrono",
        "label": "Durée",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1360,
        "y": 780,
        "wires": []
    },
    {
        "id": "b3948346c86a61b5",
        "type": "change",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "start",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 920,
        "wires": [
            [
                "cd3ad862f91fdf3e"
            ]
        ]
    },
    {
        "id": "986b9ee6a3d341e3",
        "type": "change",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "stop",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "status",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 960,
        "wires": [
            [
                "cd3ad862f91fdf3e"
            ]
        ]
    },
    {
        "id": "374c440792846301",
        "type": "ui-button",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "group": "08d202d8d9c960d1",
        "name": "",
        "label": "reset",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "chrono",
        "payloadType": "str",
        "topic": "status",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 690,
        "y": 1000,
        "wires": [
            [
                "85c34a61decc4677"
            ]
        ]
    },
    {
        "id": "85c34a61decc4677",
        "type": "change",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "status",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 1000,
        "wires": [
            [
                "cd3ad862f91fdf3e"
            ]
        ]
    },
    {
        "id": "41ba3af850cdbb63",
        "type": "ui-text",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "group": "08d202d8d9c960d1",
        "order": 5,
        "width": "3",
        "height": "1",
        "name": "Durée human",
        "label": "Humain",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "elapsed.human",
        "valueType": "msg",
        "x": 1340,
        "y": 820,
        "wires": []
    },
    {
        "id": "c2ee92a38de18f49",
        "type": "ui-switch",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "",
        "label": "",
        "group": "08d202d8d9c960d1",
        "order": 1,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 590,
        "y": 1100,
        "wires": [
            [
                "47f169f674ded4d1",
                "c064169b008f3b1a",
                "9f9fdcb47f004f2d"
            ]
        ]
    },
    {
        "id": "47f169f674ded4d1",
        "type": "ui-led",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "",
        "group": "08d202d8d9c960d1",
        "order": 2,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": true,
        "showGlow": true,
        "x": 1170,
        "y": 1100,
        "wires": []
    },
    {
        "id": "c064169b008f3b1a",
        "type": "switch",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 940,
        "wires": [
            [
                "b3948346c86a61b5"
            ],
            [
                "986b9ee6a3d341e3"
            ]
        ]
    },
    {
        "id": "6056e2eeac376b57",
        "type": "ui-gauge",
        "z": "c53bc0b1cfdd92b9",
        "g": "8282ca811ab4a572",
        "name": "Quantité",
        "group": "a2e603f3b7f50a2d",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": "1",
        "height": "5",
        "gtype": "gauge-battery",
        "gstyle": "needle",
        "title": "Jauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#a8f5ff",
                "text": "",
                "textType": "value"
            },
            {
                "from": "15",
                "color": "#55dbec",
                "text": "",
                "textType": "none"
            },
            {
                "from": "35",
                "color": "#53b4fd",
                "text": "",
                "textType": "none"
            },
            {
                "from": "50",
                "color": "#2397d1",
                "text": "",
                "textType": "none"
            },
            {
                "from": "75",
                "color": "#2397d1",
                "text": "",
                "textType": "label"
            },
            {
                "from": "90",
                "color": "#2397d1",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1200,
        "y": 1220,
        "wires": [
            [
                "9932cf0538c61e89"
            ]
        ]
    },
    {
        "id": "9932cf0538c61e89",
        "type": "debug",
        "z": "c53bc0b1cfdd92b9",
        "g": "8282ca811ab4a572",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 1220,
        "wires": []
    },
    {
        "id": "c052478ba51d2da1",
        "type": "cyclic counter",
        "z": "c53bc0b1cfdd92b9",
        "g": "8282ca811ab4a572",
        "name": "cyclic counter",
        "maxCount": "90",
        "timeoutDuration": 0,
        "timeoutUnit": "ms",
        "outputProperty": "payload",
        "x": 980,
        "y": 1220,
        "wires": [
            [
                "6056e2eeac376b57"
            ]
        ]
    },
    {
        "id": "5e79b81db35e4713",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "5dd1105e5844b92e",
        "name": "link in 6",
        "links": [
            "11c827ee7d4ee251"
        ],
        "x": 475,
        "y": 1440,
        "wires": [
            [
                "eeb048be86ab6a8c",
                "6ceaaf16d3460913"
            ]
        ]
    },
    {
        "id": "8234295d73887924",
        "type": "ui-text",
        "z": "c53bc0b1cfdd92b9",
        "g": "5dd1105e5844b92e",
        "group": "2c775e571e7385a3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Valeur compteur",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1260,
        "y": 1440,
        "wires": []
    },
    {
        "id": "e9ba5aaca0ac5efd",
        "type": "debug",
        "z": "c53bc0b1cfdd92b9",
        "g": "5dd1105e5844b92e",
        "name": "COMPLET",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1380,
        "wires": []
    },
    {
        "id": "ac204aed8cd79bd2",
        "type": "ui-switch",
        "z": "c53bc0b1cfdd92b9",
        "g": "5dd1105e5844b92e",
        "name": "",
        "label": "up / down",
        "group": "2c775e571e7385a3",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": false,
        "topic": "up",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 590,
        "y": 1520,
        "wires": [
            [
                "6ceaaf16d3460913"
            ]
        ]
    },
    {
        "id": "d995d1f04182037e",
        "type": "template",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{elapsed.time.days}} J {{elapsed.time.hours}}:{{elapsed.time.minutes}}:{{elapsed.time.seconds}}",
        "output": "str",
        "x": 1180,
        "y": 780,
        "wires": [
            [
                "c3d7793156b912f6"
            ]
        ]
    },
    {
        "id": "a97bb670af7f924a",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "5dd1105e5844b92e",
        "name": "link in 7",
        "links": [
            "86b540c6db88487a"
        ],
        "x": 475,
        "y": 1520,
        "wires": [
            [
                "ac204aed8cd79bd2"
            ]
        ]
    },
    {
        "id": "e95a015ac99eccb4",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "link in 8",
        "links": [
            "86b540c6db88487a"
        ],
        "x": 505,
        "y": 1100,
        "wires": [
            [
                "c2ee92a38de18f49"
            ]
        ]
    },
    {
        "id": "eeb048be86ab6a8c",
        "type": "debug",
        "z": "c53bc0b1cfdd92b9",
        "g": "5dd1105e5844b92e",
        "name": "IN : clock",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 555,
        "y": 1380,
        "wires": [],
        "l": false
    },
    {
        "id": "9084438e6c378eae",
        "type": "debug",
        "z": "c53bc0b1cfdd92b9",
        "g": "5dd1105e5844b92e",
        "name": "ORIGINAL MSG",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 1520,
        "wires": []
    },
    {
        "id": "6ceaaf16d3460913",
        "type": "subflow:8682ef25eb3579aa",
        "z": "c53bc0b1cfdd92b9",
        "g": "5dd1105e5844b92e",
        "name": "Compteur UpDown",
        "x": 665,
        "y": 1440,
        "wires": [
            [
                "8234295d73887924",
                "e9ba5aaca0ac5efd"
            ],
            [
                "9084438e6c378eae"
            ]
        ],
        "inputLabels": [
            "clock"
        ],
        "l": false
    },
    {
        "id": "cca8231fd07f0359",
        "type": "trigger",
        "z": "c53bc0b1cfdd92b9",
        "g": "bdf852c716bcd0df",
        "name": "CLOCK",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 850,
        "y": 1720,
        "wires": [
            [
                "e85ad666d6b2ac30"
            ]
        ]
    },
    {
        "id": "e85ad666d6b2ac30",
        "type": "trigger",
        "z": "c53bc0b1cfdd92b9",
        "g": "bdf852c716bcd0df",
        "name": "PULSE",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 990,
        "y": 1720,
        "wires": [
            [
                "612f7155715dfb7f"
            ]
        ]
    },
    {
        "id": "612f7155715dfb7f",
        "type": "ui-led",
        "z": "c53bc0b1cfdd92b9",
        "g": "bdf852c716bcd0df",
        "name": "",
        "group": "14492619691773e2",
        "order": 5,
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": false,
        "showGlow": false,
        "x": 1140,
        "y": 1640,
        "wires": []
    },
    {
        "id": "118ad5f41db3f2c9",
        "type": "ui-switch",
        "z": "c53bc0b1cfdd92b9",
        "g": "bdf852c716bcd0df",
        "name": "",
        "label": "on / off",
        "group": "14492619691773e2",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "sw",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 510,
        "y": 1700,
        "wires": [
            [
                "b1af727b9aca7f77"
            ]
        ]
    },
    {
        "id": "b1af727b9aca7f77",
        "type": "switch",
        "z": "c53bc0b1cfdd92b9",
        "g": "bdf852c716bcd0df",
        "name": "ON",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 1700,
        "wires": [
            [
                "cca8231fd07f0359"
            ],
            [
                "e260783e59486f55"
            ]
        ]
    },
    {
        "id": "e260783e59486f55",
        "type": "change",
        "z": "c53bc0b1cfdd92b9",
        "g": "bdf852c716bcd0df",
        "name": "RESET",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1780,
        "wires": [
            [
                "cca8231fd07f0359"
            ]
        ]
    },
    {
        "id": "dc21d0cd7ad3591a",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "bdf852c716bcd0df",
        "name": "link in 10",
        "links": [
            "86b540c6db88487a"
        ],
        "x": 485,
        "y": 1640,
        "wires": [
            [
                "118ad5f41db3f2c9",
                "612f7155715dfb7f"
            ]
        ]
    },
    {
        "id": "35557453177b7245",
        "type": "ui-gauge",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "Milieu",
        "group": "0972f31f7195d7ff",
        "order": 6,
        "value": "count",
        "valueType": "msg",
        "width": "2",
        "height": 3,
        "gtype": "gauge-battery",
        "gstyle": "needle",
        "title": "milieu",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ffcba8",
                "text": "",
                "textType": "label"
            },
            {
                "from": "50",
                "color": "#23d138",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#fe4e0a",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1570,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "930350a355fd9eda",
        "type": "ui-gauge",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "Déchet",
        "group": "0972f31f7195d7ff",
        "order": 8,
        "value": "count",
        "valueType": "msg",
        "width": "2",
        "height": 3,
        "gtype": "gauge-battery",
        "gstyle": "needle",
        "title": "déchet",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#53878d",
                "text": "",
                "textType": "label"
            },
            {
                "from": "90",
                "color": "#fe4e0a",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1580,
        "y": 2340,
        "wires": [
            []
        ]
    },
    {
        "id": "0d7f9d3aaf068ebb",
        "type": "ui-gauge",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "Fermenteur",
        "group": "0972f31f7195d7ff",
        "order": 7,
        "value": "count",
        "valueType": "msg",
        "width": "2",
        "height": 3,
        "gtype": "gauge-battery",
        "gstyle": "needle",
        "title": "fermenteur",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#f9aa01",
                "text": "",
                "textType": "label"
            },
            {
                "from": "19",
                "color": "#4df57f",
                "text": "",
                "textType": "label"
            },
            {
                "from": "61",
                "color": "#fd6453",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1590,
        "y": 2160,
        "wires": [
            []
        ]
    },
    {
        "id": "e51ce676f72f672e",
        "type": "trigger",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "Vider",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "40",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 650,
        "y": 2120,
        "wires": [
            [
                "ab9c7d57eafbc245"
            ],
            [
                "99685bcd0ae906ee",
                "ab9c7d57eafbc245"
            ]
        ]
    },
    {
        "id": "79c23f2d6fce6ef1",
        "type": "debug",
        "z": "c53bc0b1cfdd92b9",
        "name": "DEC count",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 285,
        "y": 2000,
        "wires": [],
        "l": false
    },
    {
        "id": "cffa34d1f699ebc6",
        "type": "counter",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "niveau",
        "init": "0",
        "step": "1",
        "lower": null,
        "upper": null,
        "mode": "increment",
        "outputs": 1,
        "x": 1430,
        "y": 2340,
        "wires": [
            [
                "930350a355fd9eda"
            ]
        ]
    },
    {
        "id": "dd32ba2fc04994d7",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "reset",
        "props": [
            {
                "p": "reset",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1290,
        "y": 2380,
        "wires": [
            [
                "cffa34d1f699ebc6"
            ]
        ]
    },
    {
        "id": "ed9688604cc13e3b",
        "type": "trigger",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "CLOCK",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 835,
        "y": 2020,
        "wires": [
            [
                "393c20e26d765fa4"
            ]
        ],
        "l": false
    },
    {
        "id": "393c20e26d765fa4",
        "type": "trigger",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "PULSE",
        "op1": "true",
        "op2": "",
        "op1type": "bool",
        "op2type": "nul",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 885,
        "y": 2020,
        "wires": [
            [
                "3f15fee1048c0a9d",
                "9480c4086271a5a9"
            ]
        ],
        "l": false
    },
    {
        "id": "ab9c7d57eafbc245",
        "type": "switch",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "ON",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 755,
        "y": 2000,
        "wires": [
            [
                "ed9688604cc13e3b",
                "acc9d35d405728f4"
            ],
            [
                "de842a7df0e902c2",
                "acc9d35d405728f4"
            ]
        ],
        "l": false
    },
    {
        "id": "de842a7df0e902c2",
        "type": "change",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "RESET",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 755,
        "y": 2060,
        "wires": [
            [
                "ed9688604cc13e3b"
            ]
        ],
        "l": false
    },
    {
        "id": "3f15fee1048c0a9d",
        "type": "change",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "inc",
        "rules": [
            {
                "t": "set",
                "p": "increment",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 2340,
        "wires": [
            [
                "cffa34d1f699ebc6"
            ]
        ]
    },
    {
        "id": "3f1ebaadcc5cd611",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "set",
        "props": [
            {
                "p": "reset",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1290,
        "y": 2260,
        "wires": [
            [
                "cffa34d1f699ebc6"
            ]
        ]
    },
    {
        "id": "0bce2d42829d08b0",
        "type": "change",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "dec",
        "rules": [
            {
                "t": "set",
                "p": "decrement",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 2300,
        "wires": [
            [
                "cffa34d1f699ebc6"
            ]
        ]
    },
    {
        "id": "c3a498046bbb7eb0",
        "type": "trigger",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "Remplir",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "40",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 840,
        "y": 2120,
        "wires": [
            [
                "59fef4368249aff4"
            ],
            [
                "59fef4368249aff4"
            ]
        ]
    },
    {
        "id": "f8fc1dd9c6c63af1",
        "type": "trigger",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "CLOCK",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 975,
        "y": 2240,
        "wires": [
            [
                "5fc16aa5df0858d6"
            ]
        ],
        "l": false
    },
    {
        "id": "5fc16aa5df0858d6",
        "type": "trigger",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "PULSE",
        "op1": "true",
        "op2": "",
        "op1type": "bool",
        "op2type": "nul",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1025,
        "y": 2240,
        "wires": [
            [
                "4e774dcc3695e782",
                "e186ed2e96cb7da9"
            ]
        ],
        "l": false
    },
    {
        "id": "59fef4368249aff4",
        "type": "switch",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "ON",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 905,
        "y": 2220,
        "wires": [
            [
                "f8fc1dd9c6c63af1",
                "59185f098c7d2b93"
            ],
            [
                "cf37fddac12abc74",
                "59185f098c7d2b93"
            ]
        ],
        "l": false
    },
    {
        "id": "cf37fddac12abc74",
        "type": "change",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "RESET",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 905,
        "y": 2280,
        "wires": [
            [
                "f8fc1dd9c6c63af1"
            ]
        ],
        "l": false
    },
    {
        "id": "92b8ed496e6c7b31",
        "type": "counter",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "niveau",
        "init": "0",
        "step": "1",
        "lower": null,
        "upper": null,
        "mode": "increment",
        "outputs": 1,
        "x": 1430,
        "y": 2160,
        "wires": [
            [
                "0d7f9d3aaf068ebb"
            ]
        ]
    },
    {
        "id": "7fd920576a1d2567",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "reset",
        "props": [
            {
                "p": "reset",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1290,
        "y": 2200,
        "wires": [
            [
                "92b8ed496e6c7b31"
            ]
        ]
    },
    {
        "id": "4e774dcc3695e782",
        "type": "change",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "inc",
        "rules": [
            {
                "t": "set",
                "p": "increment",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 2160,
        "wires": [
            [
                "92b8ed496e6c7b31"
            ]
        ]
    },
    {
        "id": "de1a5109d349f9f7",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "set",
        "props": [
            {
                "p": "reset",
                "v": "40",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1290,
        "y": 2080,
        "wires": [
            [
                "92b8ed496e6c7b31"
            ]
        ]
    },
    {
        "id": "9480c4086271a5a9",
        "type": "change",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "dec",
        "rules": [
            {
                "t": "set",
                "p": "decrement",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 2120,
        "wires": [
            [
                "92b8ed496e6c7b31"
            ]
        ]
    },
    {
        "id": "cb419fc3140a0cd3",
        "type": "counter",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "niveau",
        "init": "0",
        "step": "1",
        "lower": null,
        "upper": null,
        "mode": "increment",
        "outputs": 1,
        "x": 1430,
        "y": 1980,
        "wires": [
            [
                "35557453177b7245"
            ]
        ]
    },
    {
        "id": "a5de49f957bf1557",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "reset",
        "props": [
            {
                "p": "reset",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1290,
        "y": 2020,
        "wires": [
            [
                "cb419fc3140a0cd3"
            ]
        ]
    },
    {
        "id": "22258a666b16438a",
        "type": "change",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "inc",
        "rules": [
            {
                "t": "set",
                "p": "increment",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 1980,
        "wires": [
            [
                "cb419fc3140a0cd3"
            ]
        ]
    },
    {
        "id": "afae565b579e4995",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "set",
        "props": [
            {
                "p": "reset",
                "v": "100",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1290,
        "y": 1900,
        "wires": [
            [
                "cb419fc3140a0cd3"
            ]
        ]
    },
    {
        "id": "e186ed2e96cb7da9",
        "type": "change",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "dec",
        "rules": [
            {
                "t": "set",
                "p": "decrement",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 1940,
        "wires": [
            [
                "cb419fc3140a0cd3"
            ]
        ]
    },
    {
        "id": "99685bcd0ae906ee",
        "type": "delay",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "pause",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 2200,
        "wires": [
            [
                "c3a498046bbb7eb0"
            ]
        ]
    },
    {
        "id": "dac4a3df5bc11844",
        "type": "ui-button",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "group": "0972f31f7195d7ff",
        "name": "",
        "label": "START",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 510,
        "y": 2120,
        "wires": [
            [
                "e51ce676f72f672e"
            ]
        ]
    },
    {
        "id": "acc9d35d405728f4",
        "type": "ui-led",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "Vidange",
        "group": "0972f31f7195d7ff",
        "order": 3,
        "width": "2",
        "height": "1",
        "label": "Vider",
        "labelPlacement": "left",
        "labelAlignment": "flex-start",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 880,
        "y": 1980,
        "wires": []
    },
    {
        "id": "59185f098c7d2b93",
        "type": "ui-led",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "Remplissage",
        "group": "0972f31f7195d7ff",
        "order": 5,
        "width": "2",
        "height": "1",
        "label": "Remplir",
        "labelPlacement": "left",
        "labelAlignment": "flex-start",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 1030,
        "y": 2200,
        "wires": []
    },
    {
        "id": "5177f1699dca4ad7",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "link in 9",
        "links": [
            "86b540c6db88487a"
        ],
        "x": 755,
        "y": 1940,
        "wires": [
            [
                "acc9d35d405728f4"
            ]
        ]
    },
    {
        "id": "256d6c5ed7e5fe5f",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "link in 11",
        "links": [
            "86b540c6db88487a"
        ],
        "x": 905,
        "y": 2180,
        "wires": [
            [
                "59185f098c7d2b93"
            ]
        ]
    },
    {
        "id": "62a7baa91df850e3",
        "type": "ui-button",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "group": "0972f31f7195d7ff",
        "name": "INIT",
        "label": "refill",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 510,
        "y": 2040,
        "wires": [
            [
                "6c5afa767ad7188a"
            ]
        ]
    },
    {
        "id": "e7d6ff184311f50b",
        "type": "change",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "Refill Milieu",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "100",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1880,
        "wires": [
            [
                "cb419fc3140a0cd3"
            ]
        ]
    },
    {
        "id": "99a7b70404ce4f9a",
        "type": "change",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "Refill fermenteur",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "60",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1920,
        "wires": [
            [
                "92b8ed496e6c7b31"
            ]
        ]
    },
    {
        "id": "e76eec8550c13709",
        "type": "change",
        "z": "c53bc0b1cfdd92b9",
        "g": "e6082ad88626fd76",
        "name": "Vider déchet",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1960,
        "wires": [
            [
                "cffa34d1f699ebc6"
            ]
        ]
    },
    {
        "id": "92e17cabd5c37008",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "link in 12",
        "links": [
            "86b540c6db88487a"
        ],
        "x": 1045,
        "y": 1060,
        "wires": [
            [
                "47f169f674ded4d1"
            ]
        ]
    },
    {
        "id": "25b1466557ebce78",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "3b77d6603893c054",
        "name": "link in 13",
        "links": [
            "86b540c6db88487a"
        ],
        "x": 905,
        "y": 620,
        "wires": [
            [
                "0c44248e331257c1"
            ]
        ]
    },
    {
        "id": "60e77f7cbc023685",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "8282ca811ab4a572",
        "name": "link in 14",
        "links": [
            "11c827ee7d4ee251"
        ],
        "x": 475,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "cb822a36231b6af1",
        "type": "trigger",
        "z": "c53bc0b1cfdd92b9",
        "g": "8282ca811ab4a572",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-50",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 700,
        "y": 1220,
        "wires": [
            [
                "c052478ba51d2da1"
            ]
        ]
    },
    {
        "id": "b820aefa28e46c18",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "g": "8282ca811ab4a572",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 530,
        "y": 1200,
        "wires": [
            [
                "cb822a36231b6af1"
            ]
        ]
    },
    {
        "id": "90f3fa6c5c374060",
        "type": "link out",
        "z": "c53bc0b1cfdd92b9",
        "g": "5539f321a8ebe71c",
        "name": "link out 1",
        "mode": "link",
        "links": [],
        "x": 1285,
        "y": 180,
        "wires": []
    },
    {
        "id": "32a156f6ac960295",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "df07a1238a55e5b5",
        "name": "link in 16",
        "links": [
            "11c827ee7d4ee251"
        ],
        "x": 1405,
        "y": 1680,
        "wires": [
            [
                "a5761a8a511d07c7"
            ]
        ]
    },
    {
        "id": "669f5011d11ebf87",
        "type": "debug",
        "z": "c53bc0b1cfdd92b9",
        "g": "df07a1238a55e5b5",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 2015,
        "y": 1640,
        "wires": [],
        "l": false
    },
    {
        "id": "bad1e7f31a4c7073",
        "type": "switch",
        "z": "c53bc0b1cfdd92b9",
        "g": "df07a1238a55e5b5",
        "name": "Si topic = true",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1900,
        "y": 1680,
        "wires": [
            [
                "669f5011d11ebf87",
                "645f0d54aad96fec"
            ],
            [
                "3ce73b93a2a5710d"
            ]
        ]
    },
    {
        "id": "c3e90e90b2cf3c5e",
        "type": "ui-switch",
        "z": "c53bc0b1cfdd92b9",
        "g": "df07a1238a55e5b5",
        "name": "",
        "label": "switch",
        "group": "14492619691773e2",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": false,
        "topic": "sw",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1565,
        "y": 1760,
        "wires": [
            [
                "a5761a8a511d07c7",
                "1bd795182f2fe0e4"
            ]
        ],
        "l": false
    },
    {
        "id": "a5761a8a511d07c7",
        "type": "function",
        "z": "c53bc0b1cfdd92b9",
        "g": "df07a1238a55e5b5",
        "name": "switch",
        "func": "// les messages avec un topic SW \n// contiennent la valeur du switch\n// et ne sont pas transmis\n// les autres messages passent et sont complétés avec la valeur du swithc\n\nlet I = context.get('I') || false\nif (msg.topic === 'sw') {\n    I = msg.payload\n    context.set('I',I)\n    return null\n}\nmsg.topic=I\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 1680,
        "wires": [
            [
                "bad1e7f31a4c7073",
                "bb1c1847054d7efc"
            ]
        ]
    },
    {
        "id": "5791e7cfabd1e582",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "df07a1238a55e5b5",
        "name": "init sw",
        "links": [
            "86b540c6db88487a"
        ],
        "x": 1505,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "3ce73b93a2a5710d",
        "type": "debug",
        "z": "c53bc0b1cfdd92b9",
        "g": "df07a1238a55e5b5",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 2015,
        "y": 1720,
        "wires": [],
        "l": false
    },
    {
        "id": "6e7ed4af27ee2dd1",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "g": "df07a1238a55e5b5",
        "name": "ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "sw",
        "payload": "true",
        "payloadType": "bool",
        "x": 1410,
        "y": 1740,
        "wires": [
            [
                "c3e90e90b2cf3c5e"
            ]
        ]
    },
    {
        "id": "3f5ee88e5de9007e",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "g": "df07a1238a55e5b5",
        "name": "OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sw",
        "payload": "false",
        "payloadType": "bool",
        "x": 1410,
        "y": 1780,
        "wires": [
            [
                "c3e90e90b2cf3c5e"
            ]
        ]
    },
    {
        "id": "bb1c1847054d7efc",
        "type": "debug",
        "z": "c53bc0b1cfdd92b9",
        "g": "df07a1238a55e5b5",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 1855,
        "y": 1640,
        "wires": [],
        "l": false
    },
    {
        "id": "645f0d54aad96fec",
        "type": "trigger",
        "z": "c53bc0b1cfdd92b9",
        "g": "df07a1238a55e5b5",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2165,
        "y": 1680,
        "wires": [
            [
                "9a7c234b1febe5d1"
            ]
        ],
        "l": false
    },
    {
        "id": "9a7c234b1febe5d1",
        "type": "ui-led",
        "z": "c53bc0b1cfdd92b9",
        "g": "df07a1238a55e5b5",
        "name": "flux",
        "group": "14492619691773e2",
        "order": 3,
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "states": [
            {
                "value": "true",
                "valueType": "bool",
                "color": "#eeff00"
            },
            {
                "value": "false",
                "valueType": "bool",
                "color": "#000000"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": false,
        "showGlow": false,
        "x": 2215,
        "y": 1680,
        "wires": [],
        "l": false
    },
    {
        "id": "3ae6e088584e08b7",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "df07a1238a55e5b5",
        "name": "init led",
        "links": [
            "86b540c6db88487a"
        ],
        "x": 2175,
        "y": 1620,
        "wires": [
            [
                "9a7c234b1febe5d1"
            ]
        ]
    },
    {
        "id": "1bd795182f2fe0e4",
        "type": "ui-markdown",
        "z": "c53bc0b1cfdd92b9",
        "g": "df07a1238a55e5b5",
        "group": "14492619691773e2",
        "name": "",
        "order": 1,
        "width": "4",
        "height": "3",
        "content": "# Marche Arrêt\n\n### Le message du SWITCH:   \n> **Topic** : {{msg.topic}}  \n> **Payload**: {{msg.payload}}  \n\nle Switch permet de controler le passage des messages dans le flow. \n\n - Quand il est sur **ON** le topic est **true** le switch laisse passer le message. Le voyant Jaune clignote.\n - Quand il est sur **OFF** le topic est positionné sur **false** et le noeud switch détourne le message.\n\n La fonction détecte l'état du switch en interceptant le message avec topic = sw.\n  Elle rajoute un topic dans le message lorque le switch change d'état. \n  La fonction bloque le message du switch (retourne null). ",
        "className": "",
        "x": 1810,
        "y": 1780,
        "wires": [
            []
        ]
    },
    {
        "id": "cd1ccde0da6ac2a8",
        "type": "hourglass",
        "z": "c53bc0b1cfdd92b9",
        "name": "",
        "persistId": "",
        "humanizeLocale": "",
        "x": 2050,
        "y": 820,
        "wires": [
            [
                "9756121d119b9360",
                "e6ea94c7a2ce2189"
            ]
        ]
    },
    {
        "id": "9756121d119b9360",
        "type": "debug",
        "z": "c53bc0b1cfdd92b9",
        "name": "full",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2210,
        "y": 760,
        "wires": []
    },
    {
        "id": "4a119953cc8b6ee3",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "name": "start",
        "props": [
            {
                "p": "command",
                "v": "start",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1790,
        "y": 780,
        "wires": [
            [
                "cd1ccde0da6ac2a8"
            ]
        ]
    },
    {
        "id": "a8cd96085926a05b",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "name": "stop",
        "props": [
            {
                "p": "command",
                "v": "stop",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1590,
        "y": 820,
        "wires": [
            [
                "790b81abe7a5f3a6"
            ]
        ]
    },
    {
        "id": "dbd7ea83d791520d",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "name": "status",
        "props": [
            {
                "p": "command",
                "v": "status",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1790,
        "y": 860,
        "wires": [
            [
                "cd1ccde0da6ac2a8"
            ]
        ]
    },
    {
        "id": "e6ea94c7a2ce2189",
        "type": "debug",
        "z": "c53bc0b1cfdd92b9",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "elapsed.time.seconds",
        "targetType": "msg",
        "statusVal": "elapsed.millis",
        "statusType": "auto",
        "x": 2210,
        "y": 860,
        "wires": []
    },
    {
        "id": "57aa7ebe85fccc56",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "name": "reset",
        "props": [
            {
                "p": "command",
                "v": "reset",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1790,
        "y": 900,
        "wires": [
            [
                "cd1ccde0da6ac2a8"
            ]
        ]
    },
    {
        "id": "f3be6268759c1a63",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "name": "status",
        "props": [
            {
                "p": "status",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1790,
        "y": 740,
        "wires": [
            [
                "cd1ccde0da6ac2a8"
            ]
        ]
    },
    {
        "id": "790b81abe7a5f3a6",
        "type": "change",
        "z": "c53bc0b1cfdd92b9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "status",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 820,
        "wires": [
            [
                "cd1ccde0da6ac2a8"
            ]
        ]
    },
    {
        "id": "4da45368d3e7c727",
        "type": "debug",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "full",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 900,
        "wires": []
    },
    {
        "id": "9f9fdcb47f004f2d",
        "type": "ui-markdown",
        "z": "c53bc0b1cfdd92b9",
        "group": "08d202d8d9c960d1",
        "name": "",
        "order": 6,
        "width": "0",
        "height": "0",
        "content": "# Chrono \n\nCombien de temps le Switch est sur ON?\n\n_Le chrono démarre quand le swithc est sur ON et s'arrête en affichant le temps écoulé._\n\nl'état du SW : **{{msg.payload}}**  \n\n{{elapsed.human}}",
        "className": "",
        "x": 1225,
        "y": 1003.3333129882812,
        "wires": [
            []
        ]
    },
    {
        "id": "decb07d988ea1f65",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "name": "toggle",
        "props": [
            {
                "p": "command",
                "v": "toggle",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1790,
        "y": 960,
        "wires": [
            [
                "cd1ccde0da6ac2a8"
            ]
        ]
    },
    {
        "id": "809cc8f4678767b7",
        "type": "inject",
        "z": "ab36a2f91b62fae8",
        "g": "1d42c5d5c534c807",
        "name": "London",
        "props": [
            {
                "p": "payload.city",
                "v": "London",
                "vt": "str"
            },
            {
                "p": "payload.lat",
                "v": "51.5072",
                "vt": "str"
            },
            {
                "p": "payload.lng",
                "v": "0.1276",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "6b5a6a2ef7a64f1a"
            ]
        ]
    },
    {
        "id": "b86d2d558eebbd7e",
        "type": "inject",
        "z": "ab36a2f91b62fae8",
        "g": "1d42c5d5c534c807",
        "name": "Washington DC",
        "props": [
            {
                "p": "payload.city",
                "v": "Washington DC",
                "vt": "str"
            },
            {
                "p": "payload.lat",
                "v": "38.9072",
                "vt": "str"
            },
            {
                "p": "payload.lng",
                "v": "77.0369",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 240,
        "y": 300,
        "wires": [
            [
                "6b5a6a2ef7a64f1a"
            ]
        ]
    },
    {
        "id": "aaecc81a2de233d6",
        "type": "debug",
        "z": "ab36a2f91b62fae8",
        "g": "1d42c5d5c534c807",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 300,
        "wires": []
    },
    {
        "id": "6b5a6a2ef7a64f1a",
        "type": "change",
        "z": "ab36a2f91b62fae8",
        "g": "1d42c5d5c534c807",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "store",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 260,
        "wires": [
            [
                "273ee743f8d1a5f1",
                "af43cea5866e11f5"
            ]
        ]
    },
    {
        "id": "273ee743f8d1a5f1",
        "type": "template",
        "z": "ab36a2f91b62fae8",
        "g": "1d42c5d5c534c807",
        "name": "create the URL",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://api.sunrisesunset.io/json?lat={{store.lat}}&lng={{store.lng}}",
        "output": "str",
        "x": 600,
        "y": 160,
        "wires": [
            [
                "52e8913233f379eb",
                "1d94053c790791ee"
            ]
        ]
    },
    {
        "id": "af43cea5866e11f5",
        "type": "debug",
        "z": "ab36a2f91b62fae8",
        "g": "1d42c5d5c534c807",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "52e8913233f379eb",
        "type": "http request",
        "z": "ab36a2f91b62fae8",
        "g": "1d42c5d5c534c807",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 260,
        "wires": [
            [
                "aaecc81a2de233d6",
                "a245b322ade3a7e9"
            ]
        ]
    },
    {
        "id": "1d94053c790791ee",
        "type": "debug",
        "z": "ab36a2f91b62fae8",
        "g": "1d42c5d5c534c807",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 160,
        "wires": []
    },
    {
        "id": "a245b322ade3a7e9",
        "type": "template",
        "z": "ab36a2f91b62fae8",
        "g": "1d42c5d5c534c807",
        "name": "Create the sentence",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The sun will set at {{payload.results.sunset}} in {{store.city}}.",
        "output": "str",
        "x": 960,
        "y": 260,
        "wires": [
            [
                "3e4b2d3644845f91"
            ]
        ]
    },
    {
        "id": "3e4b2d3644845f91",
        "type": "debug",
        "z": "ab36a2f91b62fae8",
        "g": "1d42c5d5c534c807",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 260,
        "wires": []
    },
    {
        "id": "59a3c33b9c5696cb",
        "type": "comment",
        "z": "f9450cebd9b8d8c5",
        "g": "0c9fd96223731221",
        "name": "Création",
        "info": "Création à partir de RIEN\nDe la base\nDes tables\n",
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "279061d501572b56",
        "type": "comment",
        "z": "f9450cebd9b8d8c5",
        "g": "7762aa2310673208",
        "name": "Injection de données",
        "info": "Ajouter des donnés\nLire des données\nSupprimer des données\nMettre à jour des données",
        "x": 430,
        "y": 340,
        "wires": []
    },
    {
        "id": "149063dab3285ec0",
        "type": "comment",
        "z": "f9450cebd9b8d8c5",
        "g": "811a2d9f40c309b4",
        "name": "maintenance",
        "info": " - Suppresion des tables\n - Suppression des données\n - initialisation\n - Update de donnée\n",
        "x": 410,
        "y": 740,
        "wires": []
    },
    {
        "id": "2d1b2cb4a2cae480",
        "type": "inject",
        "z": "f9450cebd9b8d8c5",
        "g": "0c9fd96223731221",
        "name": "Create",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "bb7a460cce982c0e"
            ]
        ]
    },
    {
        "id": "bb7a460cce982c0e",
        "type": "sqlite",
        "z": "f9450cebd9b8d8c5",
        "g": "0c9fd96223731221",
        "mydb": "43d9ae6d789c2ff1",
        "sqlquery": "fixed",
        "sql": "CREATE TABLE IF NOT EXISTS enregistrement (\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\n    heure_mesure TIMESTAMP DEFAULT CURRENT_TIMESTAMP NOT NULL,\n    valeur_ph REAL NOT NULL,\n    etat_pompe INTEGER NOT NULL CHECK (etat_pompe IN (0, 1))\n);",
        "name": "table enregistrement DB",
        "x": 590,
        "y": 160,
        "wires": [
            [
                "17d7bfc4812db66a"
            ]
        ]
    },
    {
        "id": "17d7bfc4812db66a",
        "type": "debug",
        "z": "f9450cebd9b8d8c5",
        "g": "0c9fd96223731221",
        "name": "OUT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "1e87fbcc53e26614",
        "type": "inject",
        "z": "f9450cebd9b8d8c5",
        "g": "0c9fd96223731221",
        "name": "Create",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 410,
        "y": 220,
        "wires": [
            [
                "5f9b4cd1dc62cac1"
            ]
        ]
    },
    {
        "id": "5f9b4cd1dc62cac1",
        "type": "sqlite",
        "z": "f9450cebd9b8d8c5",
        "g": "0c9fd96223731221",
        "mydb": "43d9ae6d789c2ff1",
        "sqlquery": "fixed",
        "sql": "CREATE TABLE IF NOT EXISTS moteur (\n    id INTEGER PRIMARY KEY,\n    compteur INTEGER,\n    start TIMESTAMP,\n    end TIMESTAMP\n    );",
        "name": "table moteur",
        "x": 550,
        "y": 220,
        "wires": [
            [
                "8636e8a46dcbb180"
            ]
        ]
    },
    {
        "id": "8636e8a46dcbb180",
        "type": "debug",
        "z": "f9450cebd9b8d8c5",
        "g": "0c9fd96223731221",
        "name": "OUT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "80b37adc53b47efa",
        "type": "inject",
        "z": "f9450cebd9b8d8c5",
        "g": "7762aa2310673208",
        "name": "insert",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 430,
        "y": 400,
        "wires": [
            [
                "1cfa89574bbecbbc"
            ]
        ]
    },
    {
        "id": "1cfa89574bbecbbc",
        "type": "function",
        "z": "f9450cebd9b8d8c5",
        "g": "7762aa2310673208",
        "name": "Random PH ",
        "func": "// Générer des valeurs aléatoires pour valeur_ph et etat_pompe\nconst valeur_ph = (Math.random() * 9 + 1).toFixed(1); // Valeur entre 1 et 10 avec 1 décimale\nconst etat_pompe = Math.round(Math.random()); // État aléatoire 0 ou 1\n\nmsg.topic = `\nINSERT INTO enregistrement (valeur_ph, etat_pompe) \nVALUES (${valeur_ph}, ${etat_pompe});\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 400,
        "wires": [
            [
                "65bf7728a2d5d77d"
            ]
        ]
    },
    {
        "id": "65bf7728a2d5d77d",
        "type": "sqlite",
        "z": "f9450cebd9b8d8c5",
        "g": "7762aa2310673208",
        "mydb": "43d9ae6d789c2ff1",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "insert enregistrement",
        "x": 900,
        "y": 400,
        "wires": [
            [
                "31a1cbf2fa3d0605"
            ]
        ]
    },
    {
        "id": "31a1cbf2fa3d0605",
        "type": "debug",
        "z": "f9450cebd9b8d8c5",
        "g": "7762aa2310673208",
        "name": "OUT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 400,
        "wires": []
    },
    {
        "id": "e5489a29b606346e",
        "type": "inject",
        "z": "f9450cebd9b8d8c5",
        "g": "7762aa2310673208",
        "name": "insert",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 430,
        "y": 460,
        "wires": [
            [
                "07647ecc5b178021"
            ]
        ]
    },
    {
        "id": "86efbb344989df43",
        "type": "sqlite",
        "z": "f9450cebd9b8d8c5",
        "g": "7762aa2310673208",
        "mydb": "43d9ae6d789c2ff1",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "insert enregistrement",
        "x": 900,
        "y": 460,
        "wires": [
            [
                "e1af9248bd3adb0c"
            ]
        ]
    },
    {
        "id": "e1af9248bd3adb0c",
        "type": "debug",
        "z": "f9450cebd9b8d8c5",
        "g": "7762aa2310673208",
        "name": "OUT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 460,
        "wires": []
    },
    {
        "id": "07647ecc5b178021",
        "type": "function",
        "z": "f9450cebd9b8d8c5",
        "g": "7762aa2310673208",
        "name": "4 enregistrements moteur",
        "func": "// Générer 4 enregistrements pour la table moteur\nconst insertQueries = [];\nfor (let i = 1; i <= 4; i++) {\n    const compteur = Math.floor(Math.random() * 100); // Valeur aléatoire pour compteur\n    const start = new Date().toISOString(); // Date actuelle pour start\n    const end = new Date(Date.now() + (i * 1000 * 60)).toISOString(); // Date future pour end\n    insertQueries.push(`(${i}, ${compteur}, '${start}', '${end}')`);\n}\n\nmsg.topic = `\nINSERT INTO moteur (id, compteur, start, end) \nVALUES ${insertQueries.join(', ')};\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 460,
        "wires": [
            [
                "86efbb344989df43"
            ]
        ]
    },
    {
        "id": "d44c48998b73e8b0",
        "type": "inject",
        "z": "f9450cebd9b8d8c5",
        "g": "7762aa2310673208",
        "name": "Moteur 1 value",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[2,300]",
        "payloadType": "json",
        "x": 460,
        "y": 520,
        "wires": [
            [
                "75daf828f9ac0ebb"
            ]
        ]
    },
    {
        "id": "75daf828f9ac0ebb",
        "type": "function",
        "z": "f9450cebd9b8d8c5",
        "g": "7762aa2310673208",
        "name": "Update Moteur",
        "func": "// Supposons que msg.payload est un tableau de la forme [id, compteur]\nconst [id, compteur] = msg.payload;\n\n// Préparer la requête SQL pour mettre à jour le compteur\nmsg.topic = `\nUPDATE moteur \nSET compteur = ${compteur},\nend = CURRENT_TIMESTAMP\nWHERE id = ${id};\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 520,
        "wires": [
            [
                "50e3b3146ea07590"
            ]
        ]
    },
    {
        "id": "50e3b3146ea07590",
        "type": "sqlite",
        "z": "f9450cebd9b8d8c5",
        "g": "7762aa2310673208",
        "mydb": "43d9ae6d789c2ff1",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "update enregistrement",
        "x": 900,
        "y": 520,
        "wires": [
            [
                "7b7f3c331cc2c9f2"
            ]
        ]
    },
    {
        "id": "7b7f3c331cc2c9f2",
        "type": "debug",
        "z": "f9450cebd9b8d8c5",
        "g": "7762aa2310673208",
        "name": "OUT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 520,
        "wires": []
    },
    {
        "id": "3540971635b3ae80",
        "type": "sqlite",
        "z": "f9450cebd9b8d8c5",
        "g": "7762aa2310673208",
        "mydb": "43d9ae6d789c2ff1",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "read enregistrement",
        "x": 900,
        "y": 580,
        "wires": [
            [
                "922f89199eb97a59",
                "af743614c07d88ac"
            ]
        ]
    },
    {
        "id": "922f89199eb97a59",
        "type": "debug",
        "z": "f9450cebd9b8d8c5",
        "g": "7762aa2310673208",
        "name": "OUT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 580,
        "wires": []
    },
    {
        "id": "a4ad6841398a7452",
        "type": "inject",
        "z": "f9450cebd9b8d8c5",
        "g": "7762aa2310673208",
        "name": "select 4 PH rec",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT heure_mesure as t, valeur_ph as ph, etat_pompe as NaOH FROM enregistrement ORDER BY id DESC LIMIT 2;",
        "x": 460,
        "y": 580,
        "wires": [
            [
                "3540971635b3ae80"
            ]
        ]
    },
    {
        "id": "acc1eb7be86ccdea",
        "type": "sqlite",
        "z": "f9450cebd9b8d8c5",
        "g": "811a2d9f40c309b4",
        "mydb": "43d9ae6d789c2ff1",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "del enregistrement",
        "x": 870,
        "y": 800,
        "wires": [
            [
                "4a46ffd5cf86c9b9"
            ]
        ]
    },
    {
        "id": "4a46ffd5cf86c9b9",
        "type": "debug",
        "z": "f9450cebd9b8d8c5",
        "g": "811a2d9f40c309b4",
        "name": "OUT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 800,
        "wires": []
    },
    {
        "id": "a2ede53d23306931",
        "type": "inject",
        "z": "f9450cebd9b8d8c5",
        "g": "811a2d9f40c309b4",
        "name": "Go",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 410,
        "y": 860,
        "wires": [
            [
                "762f1732fcd69c53"
            ]
        ]
    },
    {
        "id": "762f1732fcd69c53",
        "type": "function",
        "z": "f9450cebd9b8d8c5",
        "g": "811a2d9f40c309b4",
        "name": "delete les deux ",
        "func": "// Préparer les requêtes SQL\nconst deleteMesures = \"DELETE FROM enregistrement;\";\nconst resetSequence = \"DELETE FROM sqlite_sequence WHERE name='enregistrement';\";\n\n// Combiner les requêtes\nmsg.topic = `${deleteMesures} ${resetSequence}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 860,
        "wires": [
            [
                "acc1eb7be86ccdea"
            ]
        ]
    },
    {
        "id": "dff16aeabd8d787c",
        "type": "inject",
        "z": "f9450cebd9b8d8c5",
        "g": "811a2d9f40c309b4",
        "name": "Delete enregistrement",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DELETE FROM enregistrement;",
        "x": 460,
        "y": 780,
        "wires": [
            [
                "acc1eb7be86ccdea"
            ]
        ]
    },
    {
        "id": "b18d0e15b4be9740",
        "type": "inject",
        "z": "f9450cebd9b8d8c5",
        "g": "811a2d9f40c309b4",
        "name": "Delete Sequence",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DELETE FROM sqlite_sequence WHERE name='enregistrement';",
        "x": 440,
        "y": 820,
        "wires": [
            [
                "acc1eb7be86ccdea"
            ]
        ]
    },
    {
        "id": "af743614c07d88ac",
        "type": "ui-table",
        "z": "f9450cebd9b8d8c5",
        "group": "c553a1617e500f30",
        "name": "Board",
        "label": "Les enregistrements",
        "order": 1,
        "width": "4",
        "height": "1",
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": false,
        "selectionType": "checkbox",
        "columns": [
            {
                "title": "",
                "key": "",
                "keyType": "key",
                "type": "row",
                "width": "5",
                "align": "start"
            },
            {
                "title": "Time",
                "key": "t",
                "keyType": "key",
                "type": "text",
                "width": "40",
                "align": "start"
            },
            {
                "title": "ph",
                "key": "ph",
                "keyType": "key",
                "type": "text",
                "width": "5",
                "align": "start"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 1110,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "3d9aca16184dff97",
        "type": "inject",
        "z": "f9450cebd9b8d8c5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 940,
        "y": 640,
        "wires": [
            [
                "af743614c07d88ac"
            ]
        ]
    },
    {
        "id": "387fa88b0a54797d",
        "type": "inject",
        "z": "f9450cebd9b8d8c5",
        "g": "7762aa2310673208",
        "name": "select all PH rec",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT heure_mesure as t, valeur_ph as ph, etat_pompe as NaOH FROM enregistrement ORDER BY id DESC;",
        "x": 460,
        "y": 620,
        "wires": [
            [
                "3540971635b3ae80"
            ]
        ]
    },
    {
        "id": "991de9aae43f4619",
        "type": "inject",
        "z": "f9450cebd9b8d8c5",
        "g": "4b3fdf3a1baa1fc4",
        "name": "Create",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1150,
        "y": 140,
        "wires": [
            [
                "f4c9bccc038838c5"
            ]
        ]
    },
    {
        "id": "f4c9bccc038838c5",
        "type": "sqlite",
        "z": "f9450cebd9b8d8c5",
        "g": "4b3fdf3a1baa1fc4",
        "mydb": "3fe5fb7649532109",
        "sqlquery": "fixed",
        "sql": "CREATE TABLE IF NOT EXISTS tension (\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\n    heure_mesure TIMESTAMP DEFAULT CURRENT_TIMESTAMP NOT NULL,\n    volt REAL NOT NULL);",
        "name": "Bat",
        "x": 1290,
        "y": 140,
        "wires": [
            [
                "74e952c4d22f09d8"
            ]
        ]
    },
    {
        "id": "74e952c4d22f09d8",
        "type": "debug",
        "z": "f9450cebd9b8d8c5",
        "g": "4b3fdf3a1baa1fc4",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 140,
        "wires": []
    },
    {
        "id": "1d9eb68ac8bdd70e",
        "type": "inject",
        "z": "f9450cebd9b8d8c5",
        "g": "4b3fdf3a1baa1fc4",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "INSERT INTO tension (volt )  VALUES (13.23);",
        "x": 1150,
        "y": 220,
        "wires": [
            [
                "4359be9bd82cb736"
            ]
        ]
    },
    {
        "id": "4359be9bd82cb736",
        "type": "sqlite",
        "z": "f9450cebd9b8d8c5",
        "g": "4b3fdf3a1baa1fc4",
        "mydb": "3fe5fb7649532109",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "bat",
        "x": 1290,
        "y": 220,
        "wires": [
            [
                "74e952c4d22f09d8"
            ]
        ]
    },
    {
        "id": "4b03bf58b5bf0377",
        "type": "inject",
        "z": "f9450cebd9b8d8c5",
        "g": "7d477dfc29cb6057",
        "name": "Create",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1320,
        "y": 360,
        "wires": [
            [
                "d4544782d4dd789a"
            ]
        ]
    },
    {
        "id": "d4544782d4dd789a",
        "type": "sqlite",
        "z": "f9450cebd9b8d8c5",
        "g": "7d477dfc29cb6057",
        "mydb": "123b1dc80c4a3b60",
        "sqlquery": "fixed",
        "sql": "CREATE TABLE IF NOT EXISTS luminosite (\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\n    heure_mesure TIMESTAMP DEFAULT CURRENT_TIMESTAMP NOT NULL,\n    lux REAL NOT NULL);",
        "name": "luminosité",
        "x": 1460,
        "y": 360,
        "wires": [
            [
                "a71b051ffbff40b4"
            ]
        ]
    },
    {
        "id": "a71b051ffbff40b4",
        "type": "debug",
        "z": "f9450cebd9b8d8c5",
        "g": "7d477dfc29cb6057",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 360,
        "wires": []
    },
    {
        "id": "880829181ca42434",
        "type": "inject",
        "z": "f9450cebd9b8d8c5",
        "g": "7d477dfc29cb6057",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "INSERT INTO luminosite (lux)  VALUES (13.23);",
        "x": 1310,
        "y": 440,
        "wires": [
            [
                "ed248ab971ff03e3"
            ]
        ]
    },
    {
        "id": "ed248ab971ff03e3",
        "type": "sqlite",
        "z": "f9450cebd9b8d8c5",
        "g": "7d477dfc29cb6057",
        "mydb": "123b1dc80c4a3b60",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "luminosité",
        "x": 1460,
        "y": 440,
        "wires": [
            [
                "a71b051ffbff40b4"
            ]
        ]
    },
    {
        "id": "d63ad38d653f7b31",
        "type": "inject",
        "z": "f9450cebd9b8d8c5",
        "g": "7d477dfc29cb6057",
        "name": "select *",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from luminosite;",
        "x": 1310,
        "y": 500,
        "wires": [
            [
                "ed248ab971ff03e3"
            ]
        ]
    },
    {
        "id": "dbe31c644a583ffa",
        "type": "mqtt in",
        "z": "279cd106c27bb38c",
        "name": "screen",
        "topic": "domoticz/in",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "84dbf471304974de",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "d340477bd213910d",
                "310d9dead0ebb0dc"
            ]
        ]
    },
    {
        "id": "e338d7e4868d0704",
        "type": "ui-chart",
        "z": "279cd106c27bb38c",
        "group": "b8105c76f9328173",
        "name": "",
        "label": "chart",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "t",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "l",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "12",
        "ymax": "14",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "smooth",
        "x": 1030,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d340477bd213910d",
        "type": "switch",
        "z": "279cd106c27bb38c",
        "name": "idx=100",
        "property": "payload.idx",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "100",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "96",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 220,
        "wires": [
            [
                "7e7d4db3bea2b9b6"
            ],
            [
                "5ec74a92935ebafb"
            ]
        ]
    },
    {
        "id": "7e7d4db3bea2b9b6",
        "type": "change",
        "z": "279cd106c27bb38c",
        "name": "set Vbat",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.svalue",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "VBat",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 200,
        "wires": [
            [
                "e338d7e4868d0704",
                "ce629674c8337414",
                "a8494c6d1985f645",
                "e0081f47168c5073"
            ]
        ]
    },
    {
        "id": "aa051ad44cfa1ce8",
        "type": "inject",
        "z": "279cd106c27bb38c",
        "name": "Clear",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 910,
        "y": 260,
        "wires": [
            [
                "e338d7e4868d0704"
            ]
        ]
    },
    {
        "id": "655dc6a8c80b5f66",
        "type": "ui-template",
        "z": "279cd106c27bb38c",
        "g": "0454a2fe3a4d794a",
        "group": "70e65dde8740e563",
        "page": "",
        "ui": "",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <div>\n        <h2>Template UI</h2>\n        <p>Rien que pour voir ce que ça fait</p>\n        <p> L'heure : {{msg.time}}</p>\n        <p> La tension de la batterie : {{msg.vbat}}  Volt</p>\n        <p> La valeur du Potentiometre en {{Math.floor(msg.vout)}} %</p>\n        <p class=\"my-class\">Mister Bi</p>\n        <v-icon color=\"info\" icon=\"mdi-alert\" size=\"large\"></v-icon>\n</template>\n\n<style>\n    /* define any styles here - supports raw CSS */\n    .my-class {\n        color: green;\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 880,
        "y": 540,
        "wires": [
            [
                "cdb9462078ca6f66"
            ]
        ]
    },
    {
        "id": "b9b1c3454bad8d3b",
        "type": "inject",
        "z": "279cd106c27bb38c",
        "g": "0454a2fe3a4d794a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 470,
        "y": 540,
        "wires": [
            [
                "73f0f036b30ba302"
            ]
        ]
    },
    {
        "id": "ce629674c8337414",
        "type": "change",
        "z": "279cd106c27bb38c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "vbat",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 400,
        "wires": [
            [
                "655dc6a8c80b5f66",
                "58c46807f3c61ad7"
            ]
        ]
    },
    {
        "id": "73f0f036b30ba302",
        "type": "change",
        "z": "279cd106c27bb38c",
        "g": "0454a2fe3a4d794a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "time",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 540,
        "wires": [
            [
                "62920ae2b5ed81e5"
            ]
        ]
    },
    {
        "id": "c1afc984c34f7427",
        "type": "debug",
        "z": "279cd106c27bb38c",
        "g": "0454a2fe3a4d794a",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 580,
        "wires": []
    },
    {
        "id": "cdb9462078ca6f66",
        "type": "debug",
        "z": "279cd106c27bb38c",
        "g": "0454a2fe3a4d794a",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 540,
        "wires": []
    },
    {
        "id": "f82111dac2381be7",
        "type": "ui-markdown",
        "z": "279cd106c27bb38c",
        "group": "70e65dde8740e563",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "content": "## Markdown template\nJe peux écrie du texte en MD  \nsans me farcir le HTMl  \nOn monitore la batterie\n\n| Donnée | Description |\n| ------- | ----------- |\n| {{msg.vbat}} V| tension de la batterie |\n| {{msg.localTime}} | Heure locale |\n| {{msg.statbat.vmoy}} V | tension moyenne |\n| {{msg.statbat.vmin}} V | à {{msg.statbat.vminTime}} |\n| {{msg.statbat.vmax}} V | à {{msg.statbat.vmaxTime}} |\n| {{msg.statbat.nRec}} | Nb d'enregistrement |\n",
        "className": "",
        "x": 870,
        "y": 760,
        "wires": [
            [
                "d30df63210f35e20"
            ]
        ]
    },
    {
        "id": "58c46807f3c61ad7",
        "type": "change",
        "z": "279cd106c27bb38c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "time",
                "pt": "msg",
                "to": "object",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 760,
        "wires": [
            [
                "2e973d4d5a834954"
            ]
        ]
    },
    {
        "id": "2e973d4d5a834954",
        "type": "function",
        "z": "279cd106c27bb38c",
        "name": "Transform Date",
        "func": "// Supposons que msg.payload contient l'objet Date\nconst date = new Date(msg.time);\n// Formatage de la date\nconst formattedDate = date.toLocaleString();\n\n// Assignation du résultat à msg.payload ou une autre propriété\nmsg.localTime = formattedDate;\n\n// Retourner le message avec la date formatée\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 760,
        "wires": [
            [
                "f82111dac2381be7"
            ]
        ]
    },
    {
        "id": "212789e726799197",
        "type": "link in",
        "z": "279cd106c27bb38c",
        "name": "link in 15",
        "links": [
            "792057e9dd7815d0"
        ],
        "x": 725,
        "y": 680,
        "wires": [
            [
                "655dc6a8c80b5f66",
                "f82111dac2381be7"
            ]
        ]
    },
    {
        "id": "a8494c6d1985f645",
        "type": "ui-gauge",
        "z": "279cd106c27bb38c",
        "name": "",
        "group": "b8105c76f9328173",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "VBat",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Volt",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff4000",
                "text": "",
                "textType": "label"
            },
            {
                "from": "12.8",
                "color": "#00ff2a",
                "text": "",
                "textType": "label"
            },
            {
                "from": "13.5",
                "color": "#e0f000",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "12",
        "max": "14",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": "20",
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1030,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d87dce67cd69d261",
        "type": "sqlite",
        "z": "279cd106c27bb38c",
        "mydb": "3fe5fb7649532109",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Battery BDD",
        "x": 930,
        "y": 120,
        "wires": [
            [
                "fa5685ab1fb2aeef"
            ]
        ]
    },
    {
        "id": "fa5685ab1fb2aeef",
        "type": "debug",
        "z": "279cd106c27bb38c",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 120,
        "wires": []
    },
    {
        "id": "e0081f47168c5073",
        "type": "function",
        "z": "279cd106c27bb38c",
        "name": "insert vbat",
        "func": "let v = msg.payload\nmsg.topic = `INSERT INTO tension (volt ) VALUES (${msg.payload});`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 120,
        "wires": [
            [
                "d87dce67cd69d261"
            ]
        ]
    },
    {
        "id": "214dffbb46c5c34b",
        "type": "inject",
        "z": "279cd106c27bb38c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 580,
        "y": 360,
        "wires": [
            [
                "5fd71ed09c895c8f"
            ]
        ]
    },
    {
        "id": "5fd71ed09c895c8f",
        "type": "function",
        "z": "279cd106c27bb38c",
        "name": "Stat",
        "func": "msg.topic = `SELECT \n    MIN(volt) AS vmin,\n    MAX(volt) AS vmax,\n    ROUND(AVG(volt), 2) AS vmoy,\n    COUNT(*) AS nRec,\n    (SELECT heure_mesure FROM tension WHERE volt = (SELECT MIN(volt) FROM tension)) AS vminTime,\n    (SELECT heure_mesure FROM tension WHERE volt = (SELECT MAX(volt) FROM tension)) AS vmaxTime\nFROM \n    tension;`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 360,
        "wires": [
            [
                "9c863d524bbd1a47"
            ]
        ]
    },
    {
        "id": "9c863d524bbd1a47",
        "type": "sqlite",
        "z": "279cd106c27bb38c",
        "mydb": "3fe5fb7649532109",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Battery",
        "x": 860,
        "y": 360,
        "wires": [
            [
                "3407c6949bf75746",
                "c59a13e62c1908ea"
            ]
        ]
    },
    {
        "id": "3407c6949bf75746",
        "type": "debug",
        "z": "279cd106c27bb38c",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 360,
        "wires": []
    },
    {
        "id": "d30df63210f35e20",
        "type": "debug",
        "z": "279cd106c27bb38c",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 760,
        "wires": []
    },
    {
        "id": "c59a13e62c1908ea",
        "type": "change",
        "z": "279cd106c27bb38c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "statbat.vmoy",
                "pt": "msg",
                "to": "payload[0].vmoy",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "statbat.vmin",
                "pt": "msg",
                "to": "payload[0].vmin",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "statbat.vminTime",
                "pt": "msg",
                "to": "payload[0].vminTime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "statbat.vmax",
                "pt": "msg",
                "to": "payload[0].vmax",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "statbat.vmaxTime",
                "pt": "msg",
                "to": "payload[0].vmaxTime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "statbat.nRec",
                "pt": "msg",
                "to": "payload[0].nRec",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 420,
        "wires": [
            [
                "f82111dac2381be7"
            ]
        ]
    },
    {
        "id": "310d9dead0ebb0dc",
        "type": "debug",
        "z": "279cd106c27bb38c",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 120,
        "wires": []
    },
    {
        "id": "5ec74a92935ebafb",
        "type": "change",
        "z": "279cd106c27bb38c",
        "name": "set Lum",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.svalue",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Lum",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 300,
        "wires": [
            [
                "26cf74a98c9239d5"
            ]
        ]
    },
    {
        "id": "e0dc3466eb7b5928",
        "type": "debug",
        "z": "279cd106c27bb38c",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 300,
        "wires": []
    },
    {
        "id": "26cf74a98c9239d5",
        "type": "function",
        "z": "279cd106c27bb38c",
        "name": "insert lum",
        "func": "let v = msg.payload\nmsg.topic = `INSERT INTO luminosite (lux) VALUES (${msg.payload});`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 300,
        "wires": [
            [
                "3677927ed31a0237"
            ]
        ]
    },
    {
        "id": "3677927ed31a0237",
        "type": "sqlite",
        "z": "279cd106c27bb38c",
        "mydb": "123b1dc80c4a3b60",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Luminosite",
        "x": 1030,
        "y": 300,
        "wires": [
            [
                "e0dc3466eb7b5928"
            ]
        ]
    },
    {
        "id": "f48b015d956fb5b0",
        "type": "arduino out",
        "z": "d8be5e1f9ecfc822",
        "name": "D2",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "8683c29a9a878c47",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "1779e865fefcf33f",
        "type": "inject",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 270,
        "y": 120,
        "wires": [
            [
                "5d9cdd44d108213b"
            ]
        ]
    },
    {
        "id": "5d9cdd44d108213b",
        "type": "trigger",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 120,
        "wires": [
            [
                "f48b015d956fb5b0",
                "52d87de00dc7ec6b"
            ]
        ]
    },
    {
        "id": "2540e0ac55017e62",
        "type": "arduino in",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "pin": "0",
        "state": "ANALOG",
        "arduino": "8683c29a9a878c47",
        "x": 210,
        "y": 720,
        "wires": [
            [
                "457fea666f854e0a",
                "256bf713bf6ae8cc",
                "6a95d32c7b3e69e7",
                "11e9424639d3619c"
            ]
        ]
    },
    {
        "id": "2b316e7addbb02a9",
        "type": "arduino out",
        "z": "d8be5e1f9ecfc822",
        "name": "D3",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "8683c29a9a878c47",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "c3ad2d0768457167",
        "type": "arduino out",
        "z": "d8be5e1f9ecfc822",
        "name": "D4",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "8683c29a9a878c47",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "0f596330f5de36d7",
        "type": "arduino out",
        "z": "d8be5e1f9ecfc822",
        "name": "D5",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "8683c29a9a878c47",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "b1be95b55d20eb09",
        "type": "arduino out",
        "z": "d8be5e1f9ecfc822",
        "name": "D6",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "8683c29a9a878c47",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "fcb76c65c91bdad2",
        "type": "arduino out",
        "z": "d8be5e1f9ecfc822",
        "name": "D7",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "8683c29a9a878c47",
        "x": 670,
        "y": 420,
        "wires": []
    },
    {
        "id": "c199a9030a4317a2",
        "type": "arduino out",
        "z": "d8be5e1f9ecfc822",
        "name": "D8",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "8683c29a9a878c47",
        "x": 670,
        "y": 480,
        "wires": []
    },
    {
        "id": "8e7ed4d6b60f88d8",
        "type": "arduino out",
        "z": "d8be5e1f9ecfc822",
        "name": "D9",
        "pin": "9",
        "state": "OUTPUT",
        "arduino": "8683c29a9a878c47",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "395c8f3d2d623b14",
        "type": "trigger",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 495,
        "y": 180,
        "wires": [
            [
                "2b316e7addbb02a9",
                "1253a233cce9e6f5"
            ]
        ],
        "l": false
    },
    {
        "id": "457fea666f854e0a",
        "type": "switch",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "400",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "600",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "800",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "1000",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 380,
        "y": 680,
        "wires": [
            [
                "6f3afbcade3425b1"
            ],
            [
                "0bf497486111834d"
            ],
            [
                "2bf65706483cd1b8"
            ],
            [
                "cf589ab423b3eb9f"
            ],
            [
                "89777980fe51422e"
            ]
        ]
    },
    {
        "id": "256bf713bf6ae8cc",
        "type": "ui-gauge",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "group": "b8105c76f9328173",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5358ea",
                "text": "",
                "textType": "label"
            },
            {
                "from": "400",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "700",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "900",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "1024",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 370,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "52d87de00dc7ec6b",
        "type": "delay",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 435,
        "y": 180,
        "wires": [
            [
                "395c8f3d2d623b14"
            ]
        ],
        "l": false
    },
    {
        "id": "736203467f84db0e",
        "type": "trigger",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 495,
        "y": 240,
        "wires": [
            [
                "c3ad2d0768457167",
                "11c25f65e2b65948"
            ]
        ],
        "l": false
    },
    {
        "id": "1253a233cce9e6f5",
        "type": "delay",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 435,
        "y": 240,
        "wires": [
            [
                "736203467f84db0e"
            ]
        ],
        "l": false
    },
    {
        "id": "f25d6db5fd63ca20",
        "type": "trigger",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 495,
        "y": 300,
        "wires": [
            [
                "0f596330f5de36d7",
                "25d20b050e63ad2d"
            ]
        ],
        "l": false
    },
    {
        "id": "11c25f65e2b65948",
        "type": "delay",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 435,
        "y": 300,
        "wires": [
            [
                "f25d6db5fd63ca20"
            ]
        ],
        "l": false
    },
    {
        "id": "ae958f7a518c44b5",
        "type": "trigger",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 495,
        "y": 360,
        "wires": [
            [
                "b1be95b55d20eb09",
                "7d236d88ed221fce"
            ]
        ],
        "l": false
    },
    {
        "id": "25d20b050e63ad2d",
        "type": "delay",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 435,
        "y": 360,
        "wires": [
            [
                "ae958f7a518c44b5"
            ]
        ],
        "l": false
    },
    {
        "id": "3f66795757fead95",
        "type": "trigger",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 495,
        "y": 420,
        "wires": [
            [
                "fcb76c65c91bdad2",
                "578bef1ce57f266e"
            ]
        ],
        "l": false
    },
    {
        "id": "7d236d88ed221fce",
        "type": "delay",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 435,
        "y": 420,
        "wires": [
            [
                "3f66795757fead95"
            ]
        ],
        "l": false
    },
    {
        "id": "161579fa69c38fae",
        "type": "trigger",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 495,
        "y": 480,
        "wires": [
            [
                "c199a9030a4317a2",
                "4c6c22e7bba04a61"
            ]
        ],
        "l": false
    },
    {
        "id": "578bef1ce57f266e",
        "type": "delay",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 435,
        "y": 480,
        "wires": [
            [
                "161579fa69c38fae"
            ]
        ],
        "l": false
    },
    {
        "id": "e7f5d218ca035ada",
        "type": "trigger",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 495,
        "y": 540,
        "wires": [
            [
                "8e7ed4d6b60f88d8"
            ]
        ],
        "l": false
    },
    {
        "id": "4c6c22e7bba04a61",
        "type": "delay",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 435,
        "y": 540,
        "wires": [
            [
                "e7f5d218ca035ada"
            ]
        ],
        "l": false
    },
    {
        "id": "6a95d32c7b3e69e7",
        "type": "range",
        "z": "d8be5e1f9ecfc822",
        "minin": "0",
        "maxin": "1024",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "Percent",
        "x": 380,
        "y": 780,
        "wires": [
            [
                "5a8aa12857a44111",
                "cfc1120f2c8a50a5"
            ]
        ]
    },
    {
        "id": "5a8aa12857a44111",
        "type": "debug",
        "z": "d8be5e1f9ecfc822",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 800,
        "wires": []
    },
    {
        "id": "792057e9dd7815d0",
        "type": "link out",
        "z": "d8be5e1f9ecfc822",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "212789e726799197"
        ],
        "x": 755,
        "y": 840,
        "wires": []
    },
    {
        "id": "cfc1120f2c8a50a5",
        "type": "change",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "vout",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 840,
        "wires": [
            [
                "792057e9dd7815d0"
            ]
        ]
    },
    {
        "id": "7bcf557b60bdcba3",
        "type": "inject",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 320,
        "y": 40,
        "wires": [
            [
                "f48b015d956fb5b0"
            ]
        ]
    },
    {
        "id": "6f3afbcade3425b1",
        "type": "change",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 525,
        "y": 600,
        "wires": [
            [
                "f48b015d956fb5b0"
            ]
        ],
        "l": false
    },
    {
        "id": "3f6c5ff843a07e03",
        "type": "inject",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "f48b015d956fb5b0"
            ]
        ]
    },
    {
        "id": "0bf497486111834d",
        "type": "change",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 525,
        "y": 640,
        "wires": [
            [
                "2b316e7addbb02a9"
            ]
        ],
        "l": false
    },
    {
        "id": "2bf65706483cd1b8",
        "type": "change",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 525,
        "y": 680,
        "wires": [
            [
                "c3ad2d0768457167"
            ]
        ],
        "l": false
    },
    {
        "id": "cf589ab423b3eb9f",
        "type": "change",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 525,
        "y": 720,
        "wires": [
            [
                "0f596330f5de36d7"
            ]
        ],
        "l": false
    },
    {
        "id": "89777980fe51422e",
        "type": "change",
        "z": "d8be5e1f9ecfc822",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 525,
        "y": 760,
        "wires": [
            [
                "b1be95b55d20eb09"
            ]
        ],
        "l": false
    },
    {
        "id": "11e9424639d3619c",
        "type": "link out",
        "z": "d8be5e1f9ecfc822",
        "name": "A0",
        "mode": "link",
        "links": [
            "2c08af8820f60357"
        ],
        "x": 245,
        "y": 880,
        "wires": []
    },
    {
        "id": "2c08af8820f60357",
        "type": "link in",
        "z": "d7b000e00355b06e",
        "name": "PH in",
        "links": [
            "11e9424639d3619c"
        ],
        "x": 315,
        "y": 260,
        "wires": [
            [
                "03eb7edd6c8fc1d0",
                "599a94dd8684d243",
                "ea4c0fa6e4496040"
            ]
        ]
    },
    {
        "id": "957911d4cb0971ed",
        "type": "change",
        "z": "d7b000e00355b06e",
        "name": "PH",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ph",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 785,
        "y": 360,
        "wires": [
            [
                "18441cd332eed35a",
                "d38e1b6841895bcd"
            ]
        ],
        "l": false
    },
    {
        "id": "18441cd332eed35a",
        "type": "ui-chart",
        "z": "d7b000e00355b06e",
        "group": "af7a2f9471407871",
        "name": "Mesure",
        "label": "PH",
        "order": 6,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "PH",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "{HH}:{mm}",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "PH",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "12",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "200",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "smooth",
        "x": 910,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b21009d5808562f8",
        "type": "ui-gauge",
        "z": "d7b000e00355b06e",
        "name": "",
        "group": "af7a2f9471407871",
        "order": 4,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "PH",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff0000",
                "text": "",
                "textType": "label"
            },
            {
                "from": "6",
                "color": "#00ff40",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#5385ea",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "12",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 900,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "03eb7edd6c8fc1d0",
        "type": "range",
        "z": "d7b000e00355b06e",
        "minin": "0",
        "maxin": "1024",
        "minout": "0",
        "maxout": "12",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 420,
        "y": 360,
        "wires": [
            [
                "f22879215303d9a8"
            ]
        ]
    },
    {
        "id": "599a94dd8684d243",
        "type": "ui-text",
        "z": "d7b000e00355b06e",
        "group": "af7a2f9471407871",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Brut",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "ea4c0fa6e4496040",
        "type": "debug",
        "z": "d7b000e00355b06e",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 385,
        "y": 220,
        "wires": [],
        "l": false
    },
    {
        "id": "f22879215303d9a8",
        "type": "change",
        "z": "d7b000e00355b06e",
        "name": "arrondi",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(msg.payload, 1)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 360,
        "wires": [
            [
                "a92069de472750bf"
            ]
        ]
    },
    {
        "id": "d38e1b6841895bcd",
        "type": "debug",
        "z": "d7b000e00355b06e",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 865,
        "y": 420,
        "wires": [],
        "l": false
    },
    {
        "id": "16bed4cf4c70b80f",
        "type": "switch",
        "z": "d7b000e00355b06e",
        "g": "72f493835088c713",
        "name": "Si topic = true",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 780,
        "y": 540,
        "wires": [
            [
                "ff4bd1c90924330a"
            ],
            []
        ]
    },
    {
        "id": "6739792d7c1c5d34",
        "type": "ui-switch",
        "z": "d7b000e00355b06e",
        "g": "72f493835088c713",
        "name": "",
        "label": "switch",
        "group": "af7a2f9471407871",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": false,
        "topic": "sw",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 445,
        "y": 620,
        "wires": [
            [
                "a92069de472750bf"
            ]
        ],
        "l": false
    },
    {
        "id": "a92069de472750bf",
        "type": "function",
        "z": "d7b000e00355b06e",
        "g": "72f493835088c713",
        "name": "pass",
        "func": "// les messages avec un topic SW \n// contiennent la valeur du switch\n// et ne sont pas transmis\n// les autres messages passent et sont complétés avec la valeur du swithc\n\nlet I = context.get('I') || false\nif (msg.topic === 'sw') {\n    I = msg.payload\n    context.set('I',I)\n    return null\n}\nmsg.topic=I\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 540,
        "wires": [
            [
                "16bed4cf4c70b80f"
            ]
        ]
    },
    {
        "id": "ab9b6e8d5f4b3b15",
        "type": "inject",
        "z": "d7b000e00355b06e",
        "g": "72f493835088c713",
        "name": "ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "sw",
        "payload": "true",
        "payloadType": "bool",
        "x": 290,
        "y": 600,
        "wires": [
            [
                "6739792d7c1c5d34"
            ]
        ]
    },
    {
        "id": "912619cbe5c8c299",
        "type": "inject",
        "z": "d7b000e00355b06e",
        "g": "72f493835088c713",
        "name": "OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sw",
        "payload": "false",
        "payloadType": "bool",
        "x": 290,
        "y": 640,
        "wires": [
            [
                "6739792d7c1c5d34"
            ]
        ]
    },
    {
        "id": "58e2e02626ae4d8e",
        "type": "debug",
        "z": "d7b000e00355b06e",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 80,
        "wires": []
    },
    {
        "id": "20449f3a52c4f5d4",
        "type": "ui-markdown",
        "z": "d7b000e00355b06e",
        "group": "af7a2f9471407871",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "content": "# PH stat\nSur les 10 dernières mesures\n -  Max {{msg.stat.max}}\n -  Moy {{msg.stat.mean}}\n -  min {{msg.stat.min}} \n\nGoes here...",
        "className": "",
        "x": 1170,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "faad0ad57053e204",
        "type": "hysteresis",
        "z": "d7b000e00355b06e",
        "name": "",
        "ThresholdType": "fixed",
        "ThresholdRising": "7",
        "ThresholdFalling": "6",
        "TopicThreshold": "",
        "TopicCurrent": "",
        "ThresholdDeltaRising": "",
        "ThresholdDeltaFalling": "",
        "InitialMessage": false,
        "OutRisingType": "bool",
        "OutRisingValue": "true",
        "OutFallingType": "bool",
        "OutFallingValue": "false",
        "OutTopicType": "str",
        "OutTopicValue": "wave",
        "DynRaiseError": false,
        "x": 820,
        "y": 140,
        "wires": [
            [
                "58e2e02626ae4d8e",
                "869f898326812945"
            ]
        ]
    },
    {
        "id": "869f898326812945",
        "type": "ui-led",
        "z": "d7b000e00355b06e",
        "name": "",
        "group": "af7a2f9471407871",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": false,
        "showGlow": false,
        "x": 960,
        "y": 140,
        "wires": []
    }
]