flows.json
[
    {
        "id": "c53bc0b1cfdd92b9",
        "type": "tab",
        "label": "EXPE",
        "disabled": false,
        "info": "Une meilleure utilsation de NodeRed en suivant des Tuto\n\nUn dashboard pour maitriser la mise en page",
        "env": []
    },
    {
        "id": "ab36a2f91b62fae8",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "143582669c18420f",
        "type": "group",
        "z": "c53bc0b1cfdd92b9",
        "name": "Clock",
        "style": {
            "label": true
        },
        "nodes": [
            "6ea6e0f88371f50f",
            "11c827ee7d4ee251"
        ],
        "x": 454,
        "y": 19,
        "w": 262,
        "h": 82
    },
    {
        "id": "5539f321a8ebe71c",
        "type": "group",
        "z": "c53bc0b1cfdd92b9",
        "name": "Frequence",
        "style": {
            "label": true
        },
        "nodes": [
            "2fa95438cf7ec01a",
            "7a90ef62bcef860e",
            "ea56df877b232f1c"
        ],
        "x": 444,
        "y": 119,
        "w": 242,
        "h": 82
    },
    {
        "id": "a3fb81230cec032b",
        "type": "group",
        "z": "c53bc0b1cfdd92b9",
        "name": "Compteurs ",
        "style": {
            "label": true
        },
        "nodes": [
            "2f945b92413d8392",
            "54bb00d6bb9f3519",
            "95a5edbafbf794db",
            "9e73610ff0613b18",
            "290616064459a311",
            "e54ec5f0a0d689f2",
            "5f84468c00dcd131",
            "f28c8c33399284ac"
        ],
        "x": 444,
        "y": 219,
        "w": 512,
        "h": 142
    },
    {
        "id": "2f168b12af78bec1",
        "type": "group",
        "z": "c53bc0b1cfdd92b9",
        "name": "sequence : Duré de chaque étape en VAR locale",
        "style": {
            "label": true
        },
        "nodes": [
            "153fc215eb17f9bd",
            "3a76474ec246a824",
            "419005925aaeeb43",
            "3542d7dd7a4dad7b",
            "7ce18158c222a149",
            "46a9af3d12c5764b",
            "a0556915910b080f",
            "ca683ba385cb01f9",
            "b323403df2cf7093",
            "905e9831497cb1b8"
        ],
        "env": [
            {
                "name": "t1",
                "value": "10",
                "type": "num"
            },
            {
                "name": "t2",
                "value": "2",
                "type": "num"
            },
            {
                "name": "t3",
                "value": "5",
                "type": "num"
            }
        ],
        "x": 434,
        "y": 379,
        "w": 672,
        "h": 222
    },
    {
        "id": "3b77d6603893c054",
        "type": "group",
        "z": "c53bc0b1cfdd92b9",
        "name": "Minuterie : plusieurs valeurs dispo dans selection",
        "style": {
            "label": true
        },
        "nodes": [
            "37b34068bc8ad632",
            "0c44248e331257c1",
            "5de2be255b2c5964",
            "d55aa3dc1fb00bf5",
            "4b646ee272cbe055"
        ],
        "x": 434,
        "y": 619,
        "w": 652,
        "h": 142
    },
    {
        "id": "25d161091e4783d3",
        "type": "group",
        "z": "c53bc0b1cfdd92b9",
        "name": "UN Chrono qu'on peut mettre en suspend",
        "style": {
            "label": true
        },
        "nodes": [
            "cd3ad862f91fdf3e",
            "5d143ecd939638ce",
            "5fd3c239cbd7a88f",
            "4f553bc541491401",
            "018cf0f19f9134f4",
            "c3d7793156b912f6",
            "01c12862244abe56",
            "b3948346c86a61b5",
            "2565502f48565106",
            "986b9ee6a3d341e3",
            "374c440792846301",
            "85c34a61decc4677",
            "41ba3af850cdbb63",
            "c2ee92a38de18f49",
            "47f169f674ded4d1",
            "c064169b008f3b1a",
            "cf4d63be8af202b9",
            "d995d1f04182037e",
            "e95a015ac99eccb4"
        ],
        "x": 434,
        "y": 779,
        "w": 1032,
        "h": 442
    },
    {
        "id": "8282ca811ab4a572",
        "type": "group",
        "z": "c53bc0b1cfdd92b9",
        "name": "Jauge de niveau",
        "style": {
            "label": true
        },
        "nodes": [
            "9932cf0538c61e89",
            "6056e2eeac376b57",
            "a2d7093283f05854",
            "c052478ba51d2da1"
        ],
        "x": 434,
        "y": 1239,
        "w": 1032,
        "h": 82
    },
    {
        "id": "113e9ae2aa1386b9",
        "type": "group",
        "z": "c53bc0b1cfdd92b9",
        "name": "init false",
        "style": {
            "label": true
        },
        "nodes": [
            "c688b7713fabbc27",
            "86b540c6db88487a"
        ],
        "x": 834,
        "y": 19,
        "w": 252,
        "h": 82
    },
    {
        "id": "5dd1105e5844b92e",
        "type": "group",
        "z": "c53bc0b1cfdd92b9",
        "name": "Compteur Up Down",
        "style": {
            "label": true
        },
        "nodes": [
            "65fdd2ed836ba41b",
            "5e79b81db35e4713",
            "8234295d73887924",
            "e9ba5aaca0ac5efd",
            "ac204aed8cd79bd2",
            "af6202fbf7e30c62",
            "86cb7d242d3824a4",
            "856c385c8a5648e4",
            "d6e6623d888ea56c",
            "a97bb670af7f924a",
            "eeb048be86ab6a8c",
            "5855a18c03d33931",
            "782feca5c6f95ef2",
            "9084438e6c378eae"
        ],
        "x": 424,
        "y": 1359,
        "w": 952,
        "h": 282
    },
    {
        "id": "3c225b7898348072",
        "type": "ui-base",
        "name": "Dashboard Expe",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "icon",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "ef720b36dd8dde7b",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "30c2e620df0674de",
        "type": "ui-page",
        "name": "Expérimentation",
        "ui": "3c225b7898348072",
        "path": "/expe",
        "icon": "home",
        "layout": "tabs",
        "theme": "ef720b36dd8dde7b",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "2"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "69467c4f814a564a",
        "type": "ui-group",
        "name": "Tick",
        "page": "30c2e620df0674de",
        "width": "3",
        "height": 1,
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "true",
        "groupType": "default"
    },
    {
        "id": "7c2219fc05a32978",
        "type": "ui-group",
        "name": "Compteur en boucle",
        "page": "30c2e620df0674de",
        "width": "3",
        "height": 1,
        "order": 5,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c50c22fe0ff9d805",
        "type": "ui-group",
        "name": "Minuterie",
        "page": "30c2e620df0674de",
        "width": "6",
        "height": "2",
        "order": 4,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "fac36d98b944e7e0",
        "type": "ui-page",
        "name": "Config",
        "ui": "3c225b7898348072",
        "path": "/settings",
        "icon": "engine",
        "layout": "tabs",
        "theme": "ef720b36dd8dde7b",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0972f31f7195d7ff",
        "type": "ui-group",
        "name": "Sequence",
        "page": "fac36d98b944e7e0",
        "width": "3",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "true",
        "groupType": "default"
    },
    {
        "id": "08d202d8d9c960d1",
        "type": "ui-group",
        "name": "Chrono",
        "page": "30c2e620df0674de",
        "width": 6,
        "height": 1,
        "order": 6,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a9bb881556ef5246",
        "type": "ui-spacer",
        "group": "08d202d8d9c960d1",
        "name": "spacer",
        "tooltip": "",
        "order": 1,
        "width": "2",
        "height": "1",
        "className": ""
    },
    {
        "id": "023450b17695d6a4",
        "type": "ui-spacer",
        "group": "08d202d8d9c960d1",
        "name": "spacer",
        "tooltip": "",
        "order": 4,
        "width": "1",
        "height": "1",
        "className": ""
    },
    {
        "id": "a2e603f3b7f50a2d",
        "type": "ui-group",
        "name": "Level",
        "page": "30c2e620df0674de",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2c775e571e7385a3",
        "type": "ui-group",
        "name": "incdec",
        "page": "30c2e620df0674de",
        "width": "3",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6ea6e0f88371f50f",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "g": "143582669c18420f",
        "name": "Horloge",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 560,
        "y": 60,
        "wires": [
            [
                "11c827ee7d4ee251"
            ]
        ]
    },
    {
        "id": "11c827ee7d4ee251",
        "type": "link out",
        "z": "c53bc0b1cfdd92b9",
        "g": "143582669c18420f",
        "name": "clock",
        "mode": "link",
        "links": [
            "54bb00d6bb9f3519",
            "7a90ef62bcef860e",
            "5e79b81db35e4713"
        ],
        "x": 675,
        "y": 60,
        "wires": []
    },
    {
        "id": "2fa95438cf7ec01a",
        "type": "ui-led",
        "z": "c53bc0b1cfdd92b9",
        "g": "5539f321a8ebe71c",
        "name": "Tick",
        "group": "69467c4f814a564a",
        "order": 1,
        "width": "2",
        "height": "1",
        "label": "tick",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 645,
        "y": 160,
        "wires": [],
        "l": false
    },
    {
        "id": "7a90ef62bcef860e",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "5539f321a8ebe71c",
        "name": "link in 1",
        "links": [
            "11c827ee7d4ee251"
        ],
        "x": 485,
        "y": 160,
        "wires": [
            [
                "ea56df877b232f1c"
            ]
        ]
    },
    {
        "id": "ea56df877b232f1c",
        "type": "trigger",
        "z": "c53bc0b1cfdd92b9",
        "g": "5539f321a8ebe71c",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 565,
        "y": 160,
        "wires": [
            [
                "2fa95438cf7ec01a"
            ]
        ],
        "l": false
    },
    {
        "id": "2f945b92413d8392",
        "type": "cyclic counter",
        "z": "c53bc0b1cfdd92b9",
        "g": "a3fb81230cec032b",
        "name": "cyclic counter",
        "maxCount": "60",
        "timeoutDuration": "5",
        "timeoutUnit": "s",
        "outputProperty": "payload",
        "x": 545,
        "y": 280,
        "wires": [
            [
                "9e73610ff0613b18",
                "95a5edbafbf794db"
            ]
        ],
        "l": false
    },
    {
        "id": "54bb00d6bb9f3519",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "a3fb81230cec032b",
        "name": "link in 2",
        "links": [
            "11c827ee7d4ee251"
        ],
        "x": 485,
        "y": 280,
        "wires": [
            [
                "2f945b92413d8392"
            ]
        ]
    },
    {
        "id": "95a5edbafbf794db",
        "type": "ui-text",
        "z": "c53bc0b1cfdd92b9",
        "g": "a3fb81230cec032b",
        "group": "7c2219fc05a32978",
        "order": 3,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "sec",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 640,
        "y": 320,
        "wires": []
    },
    {
        "id": "9e73610ff0613b18",
        "type": "switch",
        "z": "c53bc0b1cfdd92b9",
        "g": "a3fb81230cec032b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 280,
        "wires": [
            [
                "290616064459a311",
                "5f84468c00dcd131"
            ],
            []
        ]
    },
    {
        "id": "290616064459a311",
        "type": "cyclic counter",
        "z": "c53bc0b1cfdd92b9",
        "g": "a3fb81230cec032b",
        "name": "cyclic counter",
        "maxCount": 3,
        "timeoutDuration": 0,
        "timeoutUnit": "ms",
        "outputProperty": "payload",
        "x": 785,
        "y": 260,
        "wires": [
            [
                "e54ec5f0a0d689f2"
            ]
        ],
        "l": false
    },
    {
        "id": "e54ec5f0a0d689f2",
        "type": "ui-text",
        "z": "c53bc0b1cfdd92b9",
        "g": "a3fb81230cec032b",
        "group": "7c2219fc05a32978",
        "order": 2,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "min",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 880,
        "y": 260,
        "wires": []
    },
    {
        "id": "5f84468c00dcd131",
        "type": "trigger",
        "z": "c53bc0b1cfdd92b9",
        "g": "a3fb81230cec032b",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 785,
        "y": 320,
        "wires": [
            [
                "f28c8c33399284ac"
            ]
        ],
        "l": false
    },
    {
        "id": "f28c8c33399284ac",
        "type": "ui-led",
        "z": "c53bc0b1cfdd92b9",
        "g": "a3fb81230cec032b",
        "name": "",
        "group": "7c2219fc05a32978",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 835,
        "y": 320,
        "wires": [],
        "l": false
    },
    {
        "id": "153fc215eb17f9bd",
        "type": "ui-led",
        "z": "c53bc0b1cfdd92b9",
        "g": "2f168b12af78bec1",
        "name": "Premier",
        "group": "0972f31f7195d7ff",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "${t1}",
        "labelPlacement": "right",
        "labelAlignment": "flex-start",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 1000,
        "y": 440,
        "wires": []
    },
    {
        "id": "3a76474ec246a824",
        "type": "trigger",
        "z": "c53bc0b1cfdd92b9",
        "g": "2f168b12af78bec1",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "${t1}",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 700,
        "y": 440,
        "wires": [
            [
                "153fc215eb17f9bd"
            ],
            [
                "7ce18158c222a149",
                "153fc215eb17f9bd"
            ]
        ]
    },
    {
        "id": "419005925aaeeb43",
        "type": "ui-led",
        "z": "c53bc0b1cfdd92b9",
        "g": "2f168b12af78bec1",
        "name": "Deuxieme",
        "group": "0972f31f7195d7ff",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "${t2}",
        "labelPlacement": "right",
        "labelAlignment": "flex-start",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 1020,
        "y": 500,
        "wires": []
    },
    {
        "id": "3542d7dd7a4dad7b",
        "type": "ui-led",
        "z": "c53bc0b1cfdd92b9",
        "g": "2f168b12af78bec1",
        "name": "Troisieme",
        "group": "0972f31f7195d7ff",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "${t3}",
        "labelPlacement": "right",
        "labelAlignment": "flex-start",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 1020,
        "y": 560,
        "wires": []
    },
    {
        "id": "7ce18158c222a149",
        "type": "trigger",
        "z": "c53bc0b1cfdd92b9",
        "g": "2f168b12af78bec1",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "${t2}",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 720,
        "y": 500,
        "wires": [
            [
                "419005925aaeeb43"
            ],
            [
                "46a9af3d12c5764b",
                "419005925aaeeb43"
            ]
        ]
    },
    {
        "id": "46a9af3d12c5764b",
        "type": "trigger",
        "z": "c53bc0b1cfdd92b9",
        "g": "2f168b12af78bec1",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "${t3}",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 740,
        "y": 560,
        "wires": [
            [
                "3542d7dd7a4dad7b"
            ],
            [
                "3542d7dd7a4dad7b"
            ]
        ]
    },
    {
        "id": "c688b7713fabbc27",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "g": "113e9ae2aa1386b9",
        "name": "Init false",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 940,
        "y": 60,
        "wires": [
            [
                "86b540c6db88487a"
            ]
        ]
    },
    {
        "id": "a0556915910b080f",
        "type": "ui-button",
        "z": "c53bc0b1cfdd92b9",
        "g": "2f168b12af78bec1",
        "group": "0972f31f7195d7ff",
        "name": "",
        "label": "button",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 510,
        "y": 440,
        "wires": [
            [
                "3a76474ec246a824"
            ]
        ]
    },
    {
        "id": "86b540c6db88487a",
        "type": "link out",
        "z": "c53bc0b1cfdd92b9",
        "g": "113e9ae2aa1386b9",
        "name": "init false",
        "mode": "link",
        "links": [
            "905e9831497cb1b8",
            "a97bb670af7f924a",
            "b323403df2cf7093",
            "ca683ba385cb01f9",
            "e95a015ac99eccb4"
        ],
        "x": 1045,
        "y": 60,
        "wires": []
    },
    {
        "id": "ca683ba385cb01f9",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "2f168b12af78bec1",
        "name": "link in 3",
        "links": [
            "86b540c6db88487a"
        ],
        "x": 915,
        "y": 420,
        "wires": [
            [
                "153fc215eb17f9bd"
            ]
        ]
    },
    {
        "id": "b323403df2cf7093",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "2f168b12af78bec1",
        "name": "link in 4",
        "links": [
            "86b540c6db88487a"
        ],
        "x": 915,
        "y": 480,
        "wires": [
            [
                "419005925aaeeb43"
            ]
        ]
    },
    {
        "id": "905e9831497cb1b8",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "2f168b12af78bec1",
        "name": "link in 5",
        "links": [
            "86b540c6db88487a"
        ],
        "x": 925,
        "y": 540,
        "wires": [
            [
                "3542d7dd7a4dad7b"
            ]
        ]
    },
    {
        "id": "37b34068bc8ad632",
        "type": "countdown",
        "z": "c53bc0b1cfdd92b9",
        "g": "3b77d6603893c054",
        "name": "Minuterie",
        "topic": "Vidange",
        "payloadTimerStart": "true",
        "payloadTimerStartType": "bool",
        "payloadTimerStop": "false",
        "payloadTimerStopType": "bool",
        "timer": "10",
        "resetWhileRunning": false,
        "outputOnReset": true,
        "setTimeToNewWhileRunning": false,
        "startCountdownOnControlMessage": true,
        "x": 780,
        "y": 700,
        "wires": [
            [
                "0c44248e331257c1"
            ],
            [
                "5de2be255b2c5964"
            ]
        ]
    },
    {
        "id": "0c44248e331257c1",
        "type": "ui-led",
        "z": "c53bc0b1cfdd92b9",
        "g": "3b77d6603893c054",
        "name": "",
        "group": "c50c22fe0ff9d805",
        "order": 4,
        "width": "3",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 975,
        "y": 680,
        "wires": [],
        "l": false
    },
    {
        "id": "5de2be255b2c5964",
        "type": "ui-text",
        "z": "c53bc0b1cfdd92b9",
        "g": "3b77d6603893c054",
        "group": "c50c22fe0ff9d805",
        "order": 3,
        "width": "3",
        "height": "1",
        "name": "Reste",
        "label": "Temps restant",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1010,
        "y": 720,
        "wires": []
    },
    {
        "id": "d55aa3dc1fb00bf5",
        "type": "ui-button",
        "z": "c53bc0b1cfdd92b9",
        "g": "3b77d6603893c054",
        "group": "c50c22fe0ff9d805",
        "name": "Stop",
        "label": "Stop",
        "order": 2,
        "width": "3",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "false",
        "payloadType": "bool",
        "topic": "stop",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 550,
        "y": 660,
        "wires": [
            [
                "37b34068bc8ad632"
            ]
        ]
    },
    {
        "id": "4b646ee272cbe055",
        "type": "ui-dropdown",
        "z": "c53bc0b1cfdd92b9",
        "g": "3b77d6603893c054",
        "group": "c50c22fe0ff9d805",
        "name": "",
        "label": "Durée de la minuterie",
        "tooltip": "",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "chips": true,
        "clearable": true,
        "options": [
            {
                "label": "60",
                "value": "60",
                "type": "str"
            },
            {
                "label": "30",
                "value": "30",
                "type": "str"
            },
            {
                "label": "10",
                "value": "10",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "control",
        "topicType": "str",
        "className": "",
        "typeIsComboBox": false,
        "msgTrigger": "onChange",
        "x": 560,
        "y": 720,
        "wires": [
            [
                "37b34068bc8ad632"
            ]
        ]
    },
    {
        "id": "cd3ad862f91fdf3e",
        "type": "hourglass",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "Chronometre",
        "persistId": "",
        "humanizeLocale": "fr",
        "x": 1010,
        "y": 860,
        "wires": [
            [
                "018cf0f19f9134f4",
                "41ba3af850cdbb63",
                "d995d1f04182037e"
            ]
        ]
    },
    {
        "id": "5d143ecd939638ce",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "start",
        "props": [
            {
                "p": "command",
                "v": "start",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 550,
        "y": 860,
        "wires": [
            [
                "cd3ad862f91fdf3e"
            ]
        ]
    },
    {
        "id": "5fd3c239cbd7a88f",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "stop",
        "props": [
            {
                "p": "command",
                "v": "stop",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 550,
        "y": 900,
        "wires": [
            [
                "cd3ad862f91fdf3e"
            ]
        ]
    },
    {
        "id": "4f553bc541491401",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "status",
        "props": [
            {
                "p": "command",
                "v": "status",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 550,
        "y": 940,
        "wires": [
            [
                "cd3ad862f91fdf3e"
            ]
        ]
    },
    {
        "id": "018cf0f19f9134f4",
        "type": "function",
        "z": "c53bc0b1cfdd92b9",
        "d": true,
        "g": "25d161091e4783d3",
        "name": "function 1",
        "func": "// Input JSON\nlet input = msg.elapsed.time;\n// Extract values\nlet days = input.days;\nlet hours = input.hours;\nlet minutes = input.minutes;\nlet seconds = Math.floor(input.seconds + (input.milliseconds / 1000)); // Convert milliseconds to seconds\n\n// Format the string DD:HH:MM:SS\nlet result = `${String(days).padStart(2, '0')}:${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`;\n\n// Set the result back to the msg object\nmsg.payload = result;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 860,
        "wires": [
            [
                "c3d7793156b912f6"
            ]
        ]
    },
    {
        "id": "c3d7793156b912f6",
        "type": "ui-text",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "group": "08d202d8d9c960d1",
        "order": 8,
        "width": "3",
        "height": "1",
        "name": "Durée Chrono",
        "label": "Durée",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1360,
        "y": 860,
        "wires": []
    },
    {
        "id": "01c12862244abe56",
        "type": "ui-button",
        "z": "c53bc0b1cfdd92b9",
        "d": true,
        "g": "25d161091e4783d3",
        "group": "08d202d8d9c960d1",
        "name": "",
        "label": "Start",
        "order": 5,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "chrono",
        "payloadType": "str",
        "topic": "start",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 690,
        "y": 960,
        "wires": [
            [
                "b3948346c86a61b5"
            ]
        ]
    },
    {
        "id": "b3948346c86a61b5",
        "type": "change",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "start",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 960,
        "wires": [
            [
                "cd3ad862f91fdf3e"
            ]
        ]
    },
    {
        "id": "2565502f48565106",
        "type": "ui-button",
        "z": "c53bc0b1cfdd92b9",
        "d": true,
        "g": "25d161091e4783d3",
        "group": "08d202d8d9c960d1",
        "name": "",
        "label": "Stop",
        "order": 7,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "chrono",
        "payloadType": "str",
        "topic": "start",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 690,
        "y": 1000,
        "wires": [
            [
                "986b9ee6a3d341e3"
            ]
        ]
    },
    {
        "id": "986b9ee6a3d341e3",
        "type": "change",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "stop",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 1000,
        "wires": [
            [
                "cd3ad862f91fdf3e"
            ]
        ]
    },
    {
        "id": "374c440792846301",
        "type": "ui-button",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "group": "08d202d8d9c960d1",
        "name": "",
        "label": "status",
        "order": 6,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "chrono",
        "payloadType": "str",
        "topic": "status",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 690,
        "y": 1040,
        "wires": [
            [
                "85c34a61decc4677"
            ]
        ]
    },
    {
        "id": "85c34a61decc4677",
        "type": "change",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "status",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "status",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 1040,
        "wires": [
            [
                "cd3ad862f91fdf3e"
            ]
        ]
    },
    {
        "id": "41ba3af850cdbb63",
        "type": "ui-text",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "group": "08d202d8d9c960d1",
        "order": 9,
        "width": "3",
        "height": "1",
        "name": "Durée human",
        "label": "Humain",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "elapsed.human",
        "valueType": "msg",
        "x": 1180,
        "y": 900,
        "wires": []
    },
    {
        "id": "c2ee92a38de18f49",
        "type": "ui-switch",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "",
        "label": "",
        "group": "08d202d8d9c960d1",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 690,
        "y": 1100,
        "wires": [
            [
                "47f169f674ded4d1",
                "c064169b008f3b1a",
                "cf4d63be8af202b9"
            ]
        ]
    },
    {
        "id": "47f169f674ded4d1",
        "type": "ui-led",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "",
        "group": "08d202d8d9c960d1",
        "order": 3,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": true,
        "showGlow": true,
        "x": 1170,
        "y": 1100,
        "wires": []
    },
    {
        "id": "c064169b008f3b1a",
        "type": "switch",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 1000,
        "wires": [
            [
                "01c12862244abe56",
                "b3948346c86a61b5"
            ],
            [
                "2565502f48565106",
                "986b9ee6a3d341e3"
            ]
        ]
    },
    {
        "id": "6056e2eeac376b57",
        "type": "ui-gauge",
        "z": "c53bc0b1cfdd92b9",
        "g": "8282ca811ab4a572",
        "name": "Quantité",
        "group": "a2e603f3b7f50a2d",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": "2",
        "height": "2",
        "gtype": "gauge-tank",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#a8f5ff",
                "text": "",
                "textType": "label"
            },
            {
                "from": "15",
                "color": "#55dbec",
                "text": "",
                "textType": "label"
            },
            {
                "from": "35",
                "color": "#53b4fd",
                "text": "",
                "textType": "label"
            },
            {
                "from": "50",
                "color": "#2397d1",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1180,
        "y": 1280,
        "wires": [
            [
                "9932cf0538c61e89"
            ]
        ]
    },
    {
        "id": "9932cf0538c61e89",
        "type": "debug",
        "z": "c53bc0b1cfdd92b9",
        "g": "8282ca811ab4a572",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 1280,
        "wires": []
    },
    {
        "id": "a2d7093283f05854",
        "type": "inject",
        "z": "c53bc0b1cfdd92b9",
        "g": "8282ca811ab4a572",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 550,
        "y": 1280,
        "wires": [
            [
                "c052478ba51d2da1"
            ]
        ]
    },
    {
        "id": "c052478ba51d2da1",
        "type": "cyclic counter",
        "z": "c53bc0b1cfdd92b9",
        "d": true,
        "g": "8282ca811ab4a572",
        "name": "cyclic counter",
        "maxCount": "100",
        "timeoutDuration": 0,
        "timeoutUnit": "ms",
        "outputProperty": "payload",
        "x": 740,
        "y": 1280,
        "wires": [
            [
                "6056e2eeac376b57"
            ]
        ]
    },
    {
        "id": "65fdd2ed836ba41b",
        "type": "counter",
        "z": "c53bc0b1cfdd92b9",
        "g": "5dd1105e5844b92e",
        "name": "UP/DOWN",
        "init": "0",
        "step": "1",
        "lower": "0",
        "upper": "100",
        "mode": "increment",
        "outputs": 2,
        "x": 1030,
        "y": 1500,
        "wires": [
            [
                "8234295d73887924",
                "e9ba5aaca0ac5efd",
                "6056e2eeac376b57"
            ],
            [
                "9084438e6c378eae"
            ]
        ]
    },
    {
        "id": "5e79b81db35e4713",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "5dd1105e5844b92e",
        "name": "link in 6",
        "links": [
            "11c827ee7d4ee251"
        ],
        "x": 465,
        "y": 1500,
        "wires": [
            [
                "d6e6623d888ea56c",
                "eeb048be86ab6a8c"
            ]
        ]
    },
    {
        "id": "8234295d73887924",
        "type": "ui-text",
        "z": "c53bc0b1cfdd92b9",
        "g": "5dd1105e5844b92e",
        "group": "2c775e571e7385a3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Valeur compteur",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1250,
        "y": 1500,
        "wires": []
    },
    {
        "id": "e9ba5aaca0ac5efd",
        "type": "debug",
        "z": "c53bc0b1cfdd92b9",
        "g": "5dd1105e5844b92e",
        "name": "COMPLET",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 1440,
        "wires": []
    },
    {
        "id": "cf4d63be8af202b9",
        "type": "debug",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 765,
        "y": 1180,
        "wires": [],
        "icon": "node-red/trigger.svg",
        "l": false
    },
    {
        "id": "ac204aed8cd79bd2",
        "type": "ui-switch",
        "z": "c53bc0b1cfdd92b9",
        "g": "5dd1105e5844b92e",
        "name": "",
        "label": "up / down",
        "group": "a2e603f3b7f50a2d",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": false,
        "topic": "up",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 580,
        "y": 1580,
        "wires": [
            [
                "d6e6623d888ea56c"
            ]
        ]
    },
    {
        "id": "af6202fbf7e30c62",
        "type": "switch",
        "z": "c53bc0b1cfdd92b9",
        "g": "5dd1105e5844b92e",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 715,
        "y": 1500,
        "wires": [
            [
                "86cb7d242d3824a4",
                "5855a18c03d33931"
            ],
            [
                "856c385c8a5648e4",
                "782feca5c6f95ef2"
            ]
        ],
        "l": false
    },
    {
        "id": "86cb7d242d3824a4",
        "type": "change",
        "z": "c53bc0b1cfdd92b9",
        "g": "5dd1105e5844b92e",
        "name": "inc",
        "rules": [
            {
                "t": "set",
                "p": "increment",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1440,
        "wires": [
            [
                "65fdd2ed836ba41b"
            ]
        ]
    },
    {
        "id": "856c385c8a5648e4",
        "type": "change",
        "z": "c53bc0b1cfdd92b9",
        "g": "5dd1105e5844b92e",
        "name": "dec",
        "rules": [
            {
                "t": "set",
                "p": "decrement",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1560,
        "wires": [
            [
                "65fdd2ed836ba41b"
            ]
        ]
    },
    {
        "id": "d995d1f04182037e",
        "type": "template",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{elapsed.time.days}} J {{elapsed.time.hours}}:{{elapsed.time.minutes}}:{{elapsed.time.seconds}}",
        "output": "str",
        "x": 1160,
        "y": 820,
        "wires": [
            [
                "c3d7793156b912f6"
            ]
        ]
    },
    {
        "id": "d6e6623d888ea56c",
        "type": "function",
        "z": "c53bc0b1cfdd92b9",
        "g": "5dd1105e5844b92e",
        "name": "set inc / dec",
        "func": "if (msg.topic == \"up\") {\n    context.set(\"inc\",msg.payload);\n    msg.topic=msg.payload;\n} \nmsg.topic=context.get(\"inc\") || false\nnode.status({fill:\"red\",shape:\"ring\",text:\"INC : \" + context.get(\"inc\")});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1500,
        "wires": [
            [
                "af6202fbf7e30c62"
            ]
        ]
    },
    {
        "id": "a97bb670af7f924a",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "5dd1105e5844b92e",
        "name": "link in 7",
        "links": [
            "86b540c6db88487a"
        ],
        "x": 465,
        "y": 1580,
        "wires": [
            [
                "ac204aed8cd79bd2"
            ]
        ]
    },
    {
        "id": "e95a015ac99eccb4",
        "type": "link in",
        "z": "c53bc0b1cfdd92b9",
        "g": "25d161091e4783d3",
        "name": "link in 8",
        "links": [
            "86b540c6db88487a"
        ],
        "x": 545,
        "y": 1100,
        "wires": [
            [
                "c2ee92a38de18f49"
            ]
        ]
    },
    {
        "id": "eeb048be86ab6a8c",
        "type": "debug",
        "z": "c53bc0b1cfdd92b9",
        "g": "5dd1105e5844b92e",
        "name": "IN : clock",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 545,
        "y": 1440,
        "wires": [],
        "l": false
    },
    {
        "id": "5855a18c03d33931",
        "type": "debug",
        "z": "c53bc0b1cfdd92b9",
        "g": "5dd1105e5844b92e",
        "name": "INC count",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 765,
        "y": 1400,
        "wires": [],
        "l": false
    },
    {
        "id": "782feca5c6f95ef2",
        "type": "debug",
        "z": "c53bc0b1cfdd92b9",
        "g": "5dd1105e5844b92e",
        "name": "DEC count",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 765,
        "y": 1600,
        "wires": [],
        "l": false
    },
    {
        "id": "9084438e6c378eae",
        "type": "debug",
        "z": "c53bc0b1cfdd92b9",
        "g": "5dd1105e5844b92e",
        "name": "ORIGINAL MSG",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 1580,
        "wires": []
    },
    {
        "id": "809cc8f4678767b7",
        "type": "inject",
        "z": "ab36a2f91b62fae8",
        "name": "London",
        "props": [
            {
                "p": "payload.city",
                "v": "London",
                "vt": "str"
            },
            {
                "p": "payload.lat",
                "v": "51.5072",
                "vt": "str"
            },
            {
                "p": "payload.lng",
                "v": "0.1276",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "6b5a6a2ef7a64f1a"
            ]
        ]
    },
    {
        "id": "b86d2d558eebbd7e",
        "type": "inject",
        "z": "ab36a2f91b62fae8",
        "name": "Washington DC",
        "props": [
            {
                "p": "payload.city",
                "v": "Washington DC",
                "vt": "str"
            },
            {
                "p": "payload.lat",
                "v": "38.9072",
                "vt": "str"
            },
            {
                "p": "payload.lng",
                "v": "77.0369",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 240,
        "y": 300,
        "wires": [
            [
                "6b5a6a2ef7a64f1a"
            ]
        ]
    },
    {
        "id": "aaecc81a2de233d6",
        "type": "debug",
        "z": "ab36a2f91b62fae8",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 300,
        "wires": []
    },
    {
        "id": "6b5a6a2ef7a64f1a",
        "type": "change",
        "z": "ab36a2f91b62fae8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "store",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 260,
        "wires": [
            [
                "273ee743f8d1a5f1",
                "af43cea5866e11f5"
            ]
        ]
    },
    {
        "id": "273ee743f8d1a5f1",
        "type": "template",
        "z": "ab36a2f91b62fae8",
        "name": "create the URL",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://api.sunrisesunset.io/json?lat={{store.lat}}&lng={{store.lng}}",
        "output": "str",
        "x": 620,
        "y": 160,
        "wires": [
            [
                "52e8913233f379eb",
                "1d94053c790791ee"
            ]
        ]
    },
    {
        "id": "af43cea5866e11f5",
        "type": "debug",
        "z": "ab36a2f91b62fae8",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 300,
        "wires": []
    },
    {
        "id": "52e8913233f379eb",
        "type": "http request",
        "z": "ab36a2f91b62fae8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 260,
        "wires": [
            [
                "aaecc81a2de233d6",
                "a245b322ade3a7e9"
            ]
        ]
    },
    {
        "id": "1d94053c790791ee",
        "type": "debug",
        "z": "ab36a2f91b62fae8",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 160,
        "wires": []
    },
    {
        "id": "a245b322ade3a7e9",
        "type": "template",
        "z": "ab36a2f91b62fae8",
        "name": "Create the sentence",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The sun will set at  in .",
        "output": "str",
        "x": 960,
        "y": 260,
        "wires": [
            [
                "3e4b2d3644845f91"
            ]
        ]
    },
    {
        "id": "3e4b2d3644845f91",
        "type": "debug",
        "z": "ab36a2f91b62fae8",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 260,
        "wires": []
    }
]